All_nodered_flows.json
[{"id":"4c23ea10.305624","type":"tab","label":"Vitals-Hololens","disabled":false,"info":""},{"id":"4eb77cb4.9f5d54","type":"tab","label":"Body Temperature","disabled":false,"info":""},{"id":"f0929c96.b058c","type":"tab","label":"Heart Rate","disabled":false,"info":""},{"id":"3581abdc.fa1414","type":"tab","label":"Oxygen Rate","disabled":false,"info":""},{"id":"14ffecb4.b21283","type":"tab","label":"Blood Pressure","disabled":false,"info":""},{"id":"6a20ff3d.4d5bf","type":"tab","label":"Bar Graph Data Generation","disabled":false,"info":""},{"id":"987ba47f.a2cb48","type":"tab","label":"Bar Graph Temperature","disabled":false,"info":""},{"id":"9ffe13cc.5f112","type":"tab","label":"Bar Graph Heart Rate","disabled":false,"info":""},{"id":"c380ca6a.8b37e8","type":"tab","label":"Bar Graph Blood Pressure","disabled":false,"info":""},{"id":"5fa77fc.beca38","type":"tab","label":"Bar Graph Oxygen","disabled":false,"info":""},{"id":"b4a1401b.0113a","type":"tab","label":"Flow Manager","disabled":false,"info":""},{"id":"75d9eb2e.e7a5c4","type":"tab","label":"Case C","disabled":false,"info":""},{"id":"aa8e1000.ec6c3","type":"tab","label":"Vitals-Computer C","disabled":false,"info":""},{"id":"64577944.ba9848","type":"tab","label":"Case D","disabled":false,"info":""},{"id":"619a5716.9b08b8","type":"tab","label":"Vitals-Computer D","disabled":false,"info":""},{"id":"73e9a24f.21590c","type":"mqtt-broker","name":"nodered@ragrug-mqtt:1883","broker":"ragrug-mqtt","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fddc60d3.519f5","type":"influxdb","hostname":"ragrug-influxdb","port":"8086","protocol":"http","database":"barvalues","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://ragrug-influxdb:8086","rejectUnauthorized":false},{"id":"370a75d7.b3a34a","type":"influxdb","hostname":"ragrug-influxdb","port":"8086","protocol":"http","database":"inffeld","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false},{"id":"c1ab96d7.e27428","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3bff8420.f2174c","type":"ui_group","name":"Model Upload","tab":"c1ab96d7.e27428","order":1,"disp":true,"width":"7","collapse":false},{"id":"a5909571.d68878","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"497401a9.52275","type":"cloudantplus","host":"http://ragrug-couchdb:5984","name":"couchdb"},{"id":"b71a6d4e.5661b","type":"ui_group","name":"Default","tab":"b8bb0c3a.a8dea","order":1,"disp":true,"width":20,"collapse":false},{"id":"5b775fa5.03f08","type":"ui_group","name":"Telemetry Mqtt","tab":"c1ab96d7.e27428","order":2,"disp":true,"width":"12","collapse":false},{"id":"20ba6cdb.ae7474","type":"postgresdb","hostname":"ragrug-postgres","port":"5432","db":"mopop","ssl":false},{"id":"52d8d00e.63087","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"cc2d9bed.0074e8","type":"ui_group","name":"Data Export","tab":"946bcae7.97e758","order":1,"disp":true,"width":"12"},{"id":"946bcae7.97e758","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f55697f1.dab3f8","type":"influxdb","hostname":"ragrug-influxdb","port":"8086","protocol":"http","database":"inffeld","name":"","usetls":false,"tls":"52d8d00e.63087","influxdbVersion":"1.x","url":"","rejectUnauthorized":false},{"id":"b8bb0c3a.a8dea","type":"ui_tab","name":"VZSC","icon":"dashboard","disabled":true,"hidden":false},{"id":"8a5dfa6b.024cc8","type":"ui_group","name":"Patient Vitals","tab":"f50baa4a.0d3e18","order":3,"disp":true,"width":"12","collapse":false},{"id":"59737da4.8acc34","type":"ui_tab","name":"Master","icon":"dashboard","disabled":false,"hidden":false},{"id":"b94d6635.f9dd08","type":"ui_group","name":"Control","tab":"59737da4.8acc34","order":1,"disp":true,"width":"6","collapse":false},{"id":"2396ab21.3b7d44","type":"ui_group","name":"Score","tab":"4adc957f.33fcec","order":4,"disp":true,"width":18,"collapse":false},{"id":"f05d58a6.98fe08","type":"ui_tab","name":"Score","icon":"dashboard","disabled":false,"hidden":false},{"id":"65ad83dc.a2cefc","type":"ui_tab","name":"Events","icon":"dashboard","disabled":false,"hidden":false},{"id":"335e1fc0.afce7","type":"ui_group","name":"Events","tab":"65ad83dc.a2cefc","order":1,"disp":true,"width":"6","collapse":false},{"id":"c2a0cf6d.1d551","type":"ui_group","name":"Year","tab":"b925c9ea.cefa28","order":4,"disp":true,"width":"6","collapse":false},{"id":"b925c9ea.cefa28","type":"ui_tab","name":"Distributions","icon":"dashboard","disabled":false,"hidden":false},{"id":"cf72946b.93d7a8","type":"ui_tab","name":"Selection","icon":"dashboard","disabled":false,"hidden":false},{"id":"f5b93663.dcdb98","type":"ui_group","name":"Record","tab":"cf72946b.93d7a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"68cad0fd.621c2","type":"ui_group","name":"MIDI","tab":"b4c44ec4.a2c56","order":1,"disp":true,"width":"6","collapse":false},{"id":"b4c44ec4.a2c56","type":"ui_tab","name":"MIDI","icon":"dashboard","disabled":false,"hidden":false},{"id":"efe01547.5b7098","type":"ui_group","name":"Occupied","tab":"4adc957f.33fcec","order":1,"disp":true,"width":"6","collapse":false},{"id":"4adc957f.33fcec","type":"ui_tab","name":"Mopop 2.0","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"5639fe60.0e244","type":"ui_group","name":"Records","tab":"4adc957f.33fcec","order":2,"disp":true,"width":"6","collapse":false},{"id":"616933a4.93a86c","type":"ui_group","name":"Record","tab":"4adc957f.33fcec","order":3,"disp":true,"width":"6","collapse":false},{"id":"e2d706f9.a551d8","type":"ui_tab","name":"Mopop 2.0 Simulator","icon":"dashboard","order":11,"disabled":false,"hidden":false},{"id":"ceea8389.aebd9","type":"ui_group","name":"Simulator","tab":"4adc957f.33fcec","order":6,"disp":true,"width":18,"collapse":false},{"id":"69a80b71.7ae5b4","type":"ui_spacer","name":"spacer","group":"616933a4.93a86c","order":1,"width":1,"height":1},{"id":"31ac545d.41e92c","type":"ui_spacer","name":"spacer","group":"616933a4.93a86c","order":3,"width":1,"height":1},{"id":"c41a3d38.7881f","type":"ui_spacer","name":"spacer","group":"616933a4.93a86c","order":4,"width":1,"height":1},{"id":"444e7364.ac735c","type":"ui_spacer","name":"spacer","group":"616933a4.93a86c","order":5,"width":1,"height":1},{"id":"e6bdb6cd.ecb398","type":"ui_spacer","name":"spacer","group":"616933a4.93a86c","order":6,"width":1,"height":1},{"id":"518501e7.9ba51","type":"ui_spacer","name":"spacer","group":"616933a4.93a86c","order":7,"width":1,"height":1},{"id":"4f3bc9f0.b70ed8","type":"ui_spacer","name":"spacer","group":"616933a4.93a86c","order":8,"width":1,"height":1},{"id":"499818af.0427c8","type":"ui_spacer","name":"spacer","group":"616933a4.93a86c","order":9,"width":1,"height":1},{"id":"69a8acde.ad54d4","type":"ui_spacer","name":"spacer","group":"ceea8389.aebd9","order":2,"width":11,"height":1},{"id":"3668c47.a8e9d3c","type":"ui_spacer","name":"spacer","group":"ceea8389.aebd9","order":12,"width":1,"height":1},{"id":"c7a0ad5b.15d09","type":"ui_spacer","name":"spacer","group":"ceea8389.aebd9","order":13,"width":1,"height":1},{"id":"299f95db.8a0d8a","type":"ui_spacer","name":"spacer","group":"ceea8389.aebd9","order":14,"width":1,"height":1},{"id":"8e1c2881.bd2148","type":"ui_group","name":"Testing","tab":"946bcae7.97e758","order":2,"disp":true,"width":"6","collapse":false},{"id":"f50baa4a.0d3e18","type":"ui_tab","name":"Vitals","icon":"dashboard","disabled":false,"hidden":false},{"id":"bc4ab5cb2a050021","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"test","name":"test","usetls":true,"tls":"d50d0c9f.31e858","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":false},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"18eca158.c30bef","type":"ui_spacer","name":"spacer","group":"","order":3,"width":3,"height":1},{"id":"66b1ac62.f204c4","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"57e7a054.1d3d","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"3d2f0a19.b50e16","type":"ui_spacer","name":"spacer","group":"","order":7,"width":3,"height":1},{"id":"2818fa86.78b246","type":"ui_spacer","name":"spacer","group":"","order":8,"width":2,"height":1},{"id":"b7071d44.aac77","type":"ui_spacer","name":"spacer","group":"","order":9,"width":14,"height":1},{"id":"76d851d4.191b1","type":"ui_spacer","name":"spacer","group":"","order":10,"width":1,"height":1},{"id":"2b8a21d5.7e913e","type":"ui_spacer","name":"spacer","group":"","order":12,"width":1,"height":1},{"id":"8ff507a5.bebcf8","type":"ui_spacer","name":"spacer","group":"","order":13,"width":1,"height":1},{"id":"4e0db42.3a7d74c","type":"ui_spacer","name":"spacer","group":"","order":14,"width":1,"height":1},{"id":"6ef46fcc.54f8d","type":"ui_spacer","name":"spacer","group":"","order":15,"width":14,"height":1},{"id":"ff69b32a.fafbb","type":"ui_spacer","name":"spacer","group":"","order":16,"width":1,"height":1},{"id":"a4c5a26b.0ba75","type":"ui_spacer","name":"spacer","group":"","order":18,"width":1,"height":1},{"id":"aba323e0.729b9","type":"ui_spacer","name":"spacer","group":"","order":19,"width":1,"height":1},{"id":"caa68f8b.b56ca","type":"ui_spacer","name":"spacer","group":"","order":20,"width":1,"height":1},{"id":"a9e2309bbb6821ba","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"21ea384a01fa887e","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"d5d81a9f0d428697","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"da4a771ac31dcf3d","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"fe4d904b8bb40878","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"6b3d8da4e9a96852","type":"ui_spacer","name":"spacer","group":"","order":7,"width":1,"height":1},{"id":"74821225a7ca51ca","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"e91dbd2767a763f6","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"93d3502802dcc1a4","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"9fc8c3278ee9b9c1","type":"ui_spacer","name":"spacer","group":"","order":10,"width":1,"height":1},{"id":"f774fbfaae54eb0e","type":"ui_spacer","name":"spacer","group":"","order":12,"width":10,"height":1},{"id":"08e6b009b586964d","type":"ui_spacer","name":"spacer","group":"","order":17,"width":1,"height":1},{"id":"b6232aa234a57cb1","type":"ui_spacer","name":"spacer","group":"","order":20,"width":1,"height":1},{"id":"a60378ac9f87fc5e","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"260c6340f6f14ad3","type":"ui_spacer","name":"spacer","group":"","order":12,"width":9,"height":1},{"id":"2b980305848cfeef","type":"ui_spacer","name":"spacer","group":"","order":19,"width":1,"height":1},{"id":"22a9f72987124d95","type":"ui_spacer","name":"spacer","group":"","order":5,"width":5,"height":1},{"id":"5e9d977e96083094","type":"ui_spacer","name":"spacer","group":"","order":9,"width":9,"height":1},{"id":"9110a4597689ae8b","type":"ui_spacer","name":"spacer","group":"","order":10,"width":9,"height":1},{"id":"459ab95d2d2a5ddb","type":"ui_spacer","name":"spacer","group":"","order":11,"width":9,"height":1},{"id":"90e1410acc8c38b9","type":"ui_spacer","name":"spacer","group":"","order":16,"width":5,"height":1},{"id":"7ad2d307c987a7df","type":"ui_spacer","name":"spacer","group":"","order":18,"width":2,"height":1},{"id":"e5e9feb0763ec81e","type":"ui_spacer","name":"spacer","group":"","order":20,"width":1,"height":1},{"id":"093ef67678864b13","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"b94afa82cf8ecc1f","type":"ui_spacer","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"faf9e9fde02df27d","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"a8cbdcf68248d1b9","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"1dfce3d8addd0131","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"add5f326020a30a1","type":"ui_spacer","name":"spacer","group":"","order":8,"width":2,"height":1},{"id":"0c6c63f5118690bf","type":"ui_spacer","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"73f373a14ff151ec","type":"ui_spacer","name":"spacer","group":"","order":11,"width":2,"height":1},{"id":"ce026db7ddc0b2d0","type":"ui_spacer","name":"spacer","group":"","order":13,"width":2,"height":1},{"id":"f8b17415c15a6072","type":"ui_spacer","name":"spacer","group":"","order":15,"width":2,"height":1},{"id":"8f4603f38cd344ad","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":2,"width":1,"height":1},{"id":"562468767aea6755","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":4,"width":2,"height":1},{"id":"6a6113cdfd6d877e","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":6,"width":2,"height":1},{"id":"4d89a801118d61ef","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":7,"width":2,"height":1},{"id":"72e7fd9dec97d5ce","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":8,"width":2,"height":1},{"id":"4a4b3e4669027be4","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":9,"width":2,"height":1},{"id":"79bd20907ddb50c4","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":10,"width":3,"height":1},{"id":"c1fed531493ab6fe","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":12,"width":3,"height":1},{"id":"3e3030c3709fe31c","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":13,"width":3,"height":1},{"id":"bf367c6bb97ffc0a","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":14,"width":3,"height":1},{"id":"79689c89c65ac453","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":15,"width":3,"height":1},{"id":"26078b1caf5a4049","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":17,"width":3,"height":1},{"id":"03d10337489964ad","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":18,"width":3,"height":1},{"id":"a3a820bc7fb53497","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":19,"width":3,"height":1},{"id":"9f9ae7141861e1c8","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"d9cb8337360336d6","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"a86c41aef3f1182e","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"9666ccbf2e136ba9","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"d6403fae75f2ce72","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"1577da1ad00267c8","type":"ui_spacer","name":"spacer","group":"","order":7,"width":1,"height":1},{"id":"85a6633f734a397f","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"6d0451543273b8e9","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"a096632e7e8c7fcc","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"01c034e071a22d06","type":"ui_spacer","name":"spacer","group":"","order":10,"width":1,"height":1},{"id":"a41773576044e9e2","type":"ui_spacer","name":"spacer","group":"","order":12,"width":10,"height":1},{"id":"38b3ea45b44de95a","type":"ui_spacer","name":"spacer","group":"","order":17,"width":1,"height":1},{"id":"4f7c5bfb900e811b","type":"ui_spacer","name":"spacer","group":"","order":20,"width":1,"height":1},{"id":"2bf13987b7d07c68","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"925897d6382cfc1e","type":"ui_spacer","name":"spacer","group":"","order":12,"width":9,"height":1},{"id":"f9dbd340829a20ab","type":"ui_spacer","name":"spacer","group":"","order":19,"width":1,"height":1},{"id":"84efe78acd668123","type":"ui_spacer","name":"spacer","group":"","order":5,"width":5,"height":1},{"id":"7403c4408d998eb9","type":"ui_spacer","name":"spacer","group":"","order":9,"width":9,"height":1},{"id":"a72cd60a04683869","type":"ui_spacer","name":"spacer","group":"","order":10,"width":9,"height":1},{"id":"27a841b63ebf78df","type":"ui_spacer","name":"spacer","group":"","order":11,"width":9,"height":1},{"id":"2507a7e17f059640","type":"ui_spacer","name":"spacer","group":"","order":16,"width":5,"height":1},{"id":"dd648ea2b4fc993e","type":"ui_spacer","name":"spacer","group":"","order":18,"width":2,"height":1},{"id":"f6f18b0119a0c7a8","type":"ui_spacer","name":"spacer","group":"","order":20,"width":1,"height":1},{"id":"6f20eee74019c663","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"7e797c689f839bd5","type":"ui_spacer","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"159875d396fd2e1d","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"09f15455e01dc3bd","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"00b530d543c6533d","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"9b68b46d65334e55","type":"ui_spacer","name":"spacer","group":"","order":8,"width":2,"height":1},{"id":"2b103ab7680be12c","type":"ui_spacer","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"a45e230894b860f4","type":"ui_spacer","name":"spacer","group":"","order":11,"width":2,"height":1},{"id":"d96da445e3f00f3b","type":"ui_spacer","name":"spacer","group":"","order":13,"width":2,"height":1},{"id":"8c8b1dc3d2ecd22e","type":"ui_spacer","name":"spacer","group":"","order":15,"width":2,"height":1},{"id":"ad65b0982b9515d2","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":2,"width":1,"height":1},{"id":"8572d6bead68d3fd","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":4,"width":2,"height":1},{"id":"7535d92b622832e2","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":6,"width":2,"height":1},{"id":"acc331cf74b68edf","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":7,"width":2,"height":1},{"id":"d8a017de905c275c","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":8,"width":2,"height":1},{"id":"30e75722341fe68d","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":9,"width":2,"height":1},{"id":"b1a10de362b4fc16","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":10,"width":3,"height":1},{"id":"6edfbbcaa60fa199","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":12,"width":3,"height":1},{"id":"15600e26f2233629","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":13,"width":3,"height":1},{"id":"90ddb4d963776480","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":14,"width":3,"height":1},{"id":"43c7e25f67aadcb1","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":15,"width":3,"height":1},{"id":"dd2ed8c042a0b788","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":17,"width":3,"height":1},{"id":"d3b14202340ff557","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":18,"width":3,"height":1},{"id":"da0c9031a45eeb31","type":"ui_spacer","name":"spacer","group":"78426f95.8f95a","order":19,"width":3,"height":1},{"id":"a4e70dca39a11812","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"0a51eb25daf41663","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1edda696.5c3d89","type":"influxdb","hostname":"ragrug-influxdb","port":"8086","protocol":"http","database":"vitals","name":"","usetls":false,"tls":"52d8d00e.63087","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"d956df57.3c9bd","type":"mqtt-broker","name":"Vitals","broker":"ragrug-mqtt","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6531107d.0ad47","type":"ui_group","name":"UI","tab":"d5f0b18b.3b217","order":1,"disp":true,"width":"6","collapse":false},{"id":"d5f0b18b.3b217","type":"ui_tab","name":"UI","icon":"dashboard","disabled":false,"hidden":true},{"id":"8b5cde76.edd58","type":"ui_group","name":"","tab":"8f03e639.85956","order":1,"disp":true,"width":"12","collapse":false},{"id":"8f03e639.85956","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"65a72644.483318","type":"ui_group","name":"Virtuelle Taste BidCoS-RF:1","tab":"fe205248.f04ed","order":1,"disp":true,"width":"6","collapse":false},{"id":"fe205248.f04ed","type":"ui_tab","name":"Geräte","icon":"dashboard","order":1},{"id":"ac2c8e97.2a413","type":"ui_group","name":"test","tab":"d92ab4b4.55f5c8","order":3,"disp":true,"width":"7","collapse":true},{"id":"d92ab4b4.55f5c8","type":"ui_tab","name":"test","icon":"fa-television","order":2},{"id":"a98673c9.84335","type":"ui_group","name":"Push to ARClient","tab":"64a889c.1533478","order":1,"disp":true,"width":"6","collapse":false},{"id":"64a889c.1533478","type":"ui_tab","name":"RR","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3cfca40d.8cf94c","type":"ui_tab","name":"Weekly Vitals","icon":"dashboard","disabled":false,"hidden":false},{"id":"40337c72.0c52d4","type":"ui_group","name":"Case C","tab":"3cfca40d.8cf94c","order":1,"disp":true,"width":"12","collapse":false},{"id":"113968b5.b29537","type":"ui_group","name":"Patient History","tab":"3cfca40d.8cf94c","order":2,"disp":true,"width":"12","collapse":false},{"id":"a952ef8.53c421","type":"ui_tab","name":"Patient History","icon":"dashboard","disabled":false,"hidden":false},{"id":"d110aad7.b32668","type":"ui_group","name":"Case D","tab":"a952ef8.53c421","order":1,"disp":true,"width":"12","collapse":false},{"id":"9145e585.5ef2e8","type":"ui_group","name":"Car Data","tab":"a2516971.840328","order":3,"disp":true,"width":"12","collapse":false},{"id":"a2516971.840328","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"6efcc19883dcdf68","type":"ui_group","name":"Chart JS","tab":"39a6d442788cfb84","order":1,"disp":true,"width":"24","collapse":false},{"id":"39a6d442788cfb84","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7f85c9c2.216348","type":"influxdb","hostname":"ragrug-influxdb","port":"8086","protocol":"http","database":"compVitals","name":"","usetls":false,"tls":"52d8d00e.63087","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"ba8c6da.c5fd49","type":"influxdb","hostname":"ragrug-influxdb","port":"8086","protocol":"http","database":"caseC","name":"","usetls":false,"tls":"52d8d00e.63087","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"a579aba.78a3858","type":"rtds-create","z":"14ffecb4.b21283","rtdsName":"BloodPressure","dimensionSize":"50","clientFunction":"RRJSIATK_RTDSCreate","x":370,"y":220,"wires":[["ac23c8ec.c38a18"]]},{"id":"d043e99e.06dd98","type":"inject","z":"14ffecb4.b21283","name":"A","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["551b7fc2.134dd"]]},{"id":"ac23c8ec.c38a18","type":"rtds-add-dimension","z":"14ffecb4.b21283","dimensionName":"Systolic_Diastolic (mmHg)","minValue":"50","maxValue":"200","dataType":1,"clientFunction":"RRJSIATK_RTDSAddDimension","x":630,"y":40,"wires":[["9912e215.b8a7f"]]},{"id":"b8f7af0.d33b85","type":"function","z":"14ffecb4.b21283","name":"view presets","func":"var vName = \"Blood_Pressure\";\nvar nLines = 4;\nvar pointsPerLine = 50;\nvar totalPoints = nLines * pointsPerLine;\n\nmsg.viewBuilder = {};\nmsg.viewBuilder.viewName = vName;\nmsg.viewBuilder.pointCount = totalPoints;\n\nmsg.view = {};\nmsg.view.name = vName;\nmsg.view.attributes = [];\nmsg.view.attributes[CNRIF.ViewAttribute.MinSize] = 0.01;\nmsg.view.data = [];\nvar x = [];\nvar y = [];\nvar z = [];\nvar indices = [];\n\n\nfor(var il = 0; il < nLines; il++) {\n    for(var ip = 0; ip < pointsPerLine; ip++) {\n        indices.push(il);\n        x.push(ip/pointsPerLine);\n    }\n}\n\n\n\nfor(var i = 0; i < msg.viewBuilder.pointCount; i++)\n{\n   \n    y.push(0);\n    z.push(0);\n   \n}\n\nmsg.view.data[CNRIF.ViewData.XPosition] = x;\nmsg.view.data[CNRIF.ViewData.YPosition] = y;\nmsg.view.data[CNRIF.ViewData.ZPosition] = z;\nmsg.view.data[CNRIF.ViewData.Indices] = {isLinking: true, data: indices};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":380,"wires":[["2277ca46.e1c386"]]},{"id":"bf280831.4aabb8","type":"rtds-set-insert-behavior","z":"14ffecb4.b21283","shiftdata":"1","clientFunction":"RRJSIATK_RTDSSetShiftdata","x":1250,"y":220,"wires":[["d2ae69f5.835358"]]},{"id":"28a31cd6.fcb704","type":"comment","z":"14ffecb4.b21283","name":" Blood Pressure","info":"","x":840,"y":80,"wires":[]},{"id":"d12e0aa2.846688","type":"comment","z":"14ffecb4.b21283","name":"time","info":"","x":810,"y":160,"wires":[]},{"id":"6ff3ed2d.8d1b64","type":"view-builder","z":"14ffecb4.b21283","viewName":"","pointCount":"1","meshTopology":"3","geometryType":"2","clientFunction":"RRJSIATK_ViewBuilder","x":690,"y":380,"wires":[["93e8f65a.d6b448"]]},{"id":"93e8f65a.d6b448","type":"set-view-data","z":"14ffecb4.b21283","viewData":"-1","clientFunction":"RRJSIATK_SetViewData","x":910,"y":380,"wires":[["487aa569.7b05bc"]]},{"id":"487aa569.7b05bc","type":"set-view-attribute","z":"14ffecb4.b21283","attribute":"-1","attrValue":0,"attrOverride":"false","clientFunction":"RRJSIATK_SetViewAttribute","x":1240,"y":380,"wires":[["87ad5eb8.f7134"]]},{"id":"87ad5eb8.f7134","type":"view-add-axes","z":"14ffecb4.b21283","axes":"x,y","clientFunction":"RRJSIATK_ViewAddAxes","x":120,"y":460,"wires":[["497a510e.121fd"]]},{"id":"497a510e.121fd","type":"view-set-axis-data","z":"14ffecb4.b21283","dataSource":"BloodPressure","dimension":"Systolic_Diastolic (mmHg)","axes":"y","clientFunction":"RRJSIATK_ViewSetAxisData","x":130,"y":520,"wires":[["b4f6d1ba.a2779"]]},{"id":"21661fd5.ec49","type":"function","z":"14ffecb4.b21283","name":"client filter","func":"try {\n    var n = MAIN.usercanvas;\n    return msg;\n} catch(err) {\n    return null;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":640,"wires":[["93815c61.685c5","7ab789e8.ac7478"]]},{"id":"93815c61.685c5","type":"rtds-get","z":"14ffecb4.b21283","rtdsName":"BloodPressure","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":1100,"y":640,"wires":[["f37eb083.3fd61","b84b1c63.db50f","33988ebb.58aa02","a9017e92.f676a","95d75820.f3a088"]]},{"id":"f37eb083.3fd61","type":"rtds-set-data","z":"14ffecb4.b21283","dimensionName":"Diastolic_Systolic (mmHg)","context":0,"location":"payload.Diastolic","clientFunction":"RRJSIATK_RTDSSetData","x":1290,"y":640,"wires":[[]]},{"id":"7afc2634.8cf8f8","type":"function","z":"14ffecb4.b21283","name":"parse","func":"var data = JSON.parse(msg.payload);\nmsg.payload = {};\nmsg.payload.Systolic = data[0];\nmsg.payload.Diastolic = data[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":540,"wires":[["9f3bc4bb.7a0368"]]},{"id":"b84b1c63.db50f","type":"rtds-set-data","z":"14ffecb4.b21283","dimensionName":"time","context":"1","location":"payload.time","clientFunction":"RRJSIATK_RTDSSetData","x":1290,"y":700,"wires":[[]]},{"id":"9f3bc4bb.7a0368","type":"function","z":"14ffecb4.b21283","name":"add time","func":"var d = new Date();\nvar hh = d.getHours();\nvar mm = d.getMinutes();\nvar ss = d.getSeconds();\nmsg.payload.time = \"\" + hh + \":\" + mm + \":\" + ss;\n//msg.payload.nicetime = msg.payload.Time.split(\"T\")[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":580,"wires":[["d20a3d57.e0d0f"]]},{"id":"e24e338a.9ba36","type":"view-set-axis-data","z":"14ffecb4.b21283","dataSource":"BloodPressure","dimension":"time","axes":"x","clientFunction":"RRJSIATK_ViewSetAxisData","x":590,"y":480,"wires":[["5c0a315a.4bcb3"]]},{"id":"541f8453.807c3c","type":"function","z":"14ffecb4.b21283","name":"Apply Data","func":"if(msg.hasOwnProperty(\"view\"))\n{\n    var ar = [];\n    var color = [];\n    \n    for(var i1 = 0; i1 <  msg.rtdsData1.length; i1++){\n        \n        if(msg.rtdsData1[i1] > 0.8 ){\n            \n            color.push([213/255, 94/255, 0/255]);\n            ar.push(msg.rtdsData1[i1]);\n            }\n            \n        else{\n                \n            color.push([0/255, 255/255, 0/255]);\n            ar.push(msg.rtdsData1[i1]);\n        }\n    }\n    \n    for(var i2 = 0; i2 <  msg.rtdsData2.length; i2++){    \n        if(msg.rtdsData2[i2] > 0.4 ){\n            \n            color.push([213/255, 94/255, 0/255]);\n            ar.push(msg.rtdsData2[i2]);\n            }\n            \n        else{\n                \n            color.push([0/255, 255/255, 0/255]);\n            ar.push(msg.rtdsData2[i2]);\n        }\n        \n    }\n    for(var i4 = 0; i4 <  msg.rtdsData4.length; i4++){\n        color.push([1, 1, 1]);\n        ar.push(msg.rtdsData4[i4]);\n        \n    }\n    for(var i3 = 0; i3 <  msg.rtdsData3.length; i3++){\n        color.push([1, 1, 1]);\n        ar.push(msg.rtdsData3[i3]);\n        \n    }\n    \n    msg.view.data = [];\n    msg.view.data[CNRIF.ViewData.YPosition] = ar;\n    msg.view.data[CNRIF.ViewData.Color] = color;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":840,"wires":[["266bda02.867806"]]},{"id":"a2769296.33eed","type":"rtds-get","z":"14ffecb4.b21283","rtdsName":"BloodPressure","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":280,"y":840,"wires":[["ae73e561.5fdd78"]]},{"id":"ae73e561.5fdd78","type":"rtds-get-data","z":"14ffecb4.b21283","dimensionName":"Systolic_Diastolic (mmHg)","location":"rtdsData1","clientFunction":"RRJSIATK_RTDSGetData","x":490,"y":840,"wires":[["e43c0493.971ac8"]]},{"id":"b07600e.f91c4","type":"rtds-get-data","z":"14ffecb4.b21283","dimensionName":"time","location":"time","clientFunction":"RRJSIATK_RTDSGetData","x":490,"y":960,"wires":[["d6c854e1.39d3a8"]]},{"id":"a72b75f.024e588","type":"get-view","z":"14ffecb4.b21283","viewName":"Blood_Pressure","msgBehavior":"1","clientFunction":"RRJSIATK_GetView","x":820,"y":840,"wires":[["541f8453.807c3c","e28b4d2b.33fcb"]]},{"id":"2277ca46.e1c386","type":"destroy-view","z":"14ffecb4.b21283","clientFunction":"RRJSIATK_DestroyView","x":510,"y":380,"wires":[["6ff3ed2d.8d1b64"]]},{"id":"d2ae69f5.835358","type":"function","z":"14ffecb4.b21283","name":"passthrough","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":380,"wires":[["b8f7af0.d33b85"]]},{"id":"5c0a315a.4bcb3","type":"view-hide-show-axis","z":"14ffecb4.b21283","shown":"false","clientFunction":"RRJSIATK_ViewShowAxis","x":780,"y":480,"wires":[["8c8a15b8.154618"]]},{"id":"7ab789e8.ac7478","type":"function","z":"14ffecb4.b21283","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":840,"wires":[["a2769296.33eed"]]},{"id":"266bda02.867806","type":"set-view-data","z":"14ffecb4.b21283","viewData":"-1","clientFunction":"RRJSIATK_SetViewData","x":1290,"y":840,"wires":[[]]},{"id":"6e942b5.63952d4","type":"rtds-add-dimension","z":"14ffecb4.b21283","dimensionName":"time","minValue":0,"maxValue":"50","dataType":"4","clientFunction":"RRJSIATK_RTDSAddDimension","x":630,"y":160,"wires":[["a6494dd4.cea07"]]},{"id":"b3465327.d6715","type":"rtds-destroy","z":"14ffecb4.b21283","clientFunction":"RRJSIATK_RTDSDestroy","x":190,"y":220,"wires":[["a579aba.78a3858"]]},{"id":"551b7fc2.134dd","type":"rtds-get","z":"14ffecb4.b21283","rtdsName":"BloodPressure","msgBehavior":"0","clientFunction":"RRJSIATK_RTDSGet","x":300,"y":120,"wires":[["b3465327.d6715"]]},{"id":"24c4fb34.311fc4","type":"mqtt in","z":"14ffecb4.b21283","name":"","topic":"telemetry/Data/Vis/Hospital/Patient/Vital/BloodPressure","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":220,"y":640,"wires":[["7afc2634.8cf8f8"]]},{"id":"e43c0493.971ac8","type":"rtds-get-data","z":"14ffecb4.b21283","dimensionName":"Diastolic_Systolic (mmHg)","location":"rtdsData2","clientFunction":"RRJSIATK_RTDSGetData","x":490,"y":900,"wires":[["b07600e.f91c4"]]},{"id":"33988ebb.58aa02","type":"rtds-set-data","z":"14ffecb4.b21283","dimensionName":"Systolic_Diastolic (mmHg)","context":0,"location":"payload.Systolic","clientFunction":"RRJSIATK_RTDSSetData","x":1290,"y":580,"wires":[[]]},{"id":"9912e215.b8a7f","type":"rtds-add-dimension","z":"14ffecb4.b21283","dimensionName":"Diastolic_Systolic (mmHg)","minValue":"50","maxValue":"200","dataType":1,"clientFunction":"RRJSIATK_RTDSAddDimension","x":630,"y":100,"wires":[["6e942b5.63952d4"]]},{"id":"b34d7def.944","type":"comment","z":"14ffecb4.b21283","name":"Systolic","info":"","x":1470,"y":580,"wires":[]},{"id":"3f141dea.5732a2","type":"comment","z":"14ffecb4.b21283","name":"Diastolic","info":"","x":1480,"y":640,"wires":[]},{"id":"23e44960.56faa6","type":"comment","z":"14ffecb4.b21283","name":"Time","info":"","x":1470,"y":700,"wires":[]},{"id":"1b5025eb.7b6f6a","type":"debug","z":"14ffecb4.b21283","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":580,"wires":[]},{"id":"b4f6d1ba.a2779","type":"view-set-axis-data","z":"14ffecb4.b21283","dataSource":"BloodPressure","dimension":"Diastolic_Systolic (mmHg)","axes":"y","clientFunction":"RRJSIATK_ViewSetAxisData","x":370,"y":480,"wires":[["e24e338a.9ba36"]]},{"id":"951a93ab.40c62","type":"inject","z":"4c23ea10.305624","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":160,"wires":[["e300ef6d.81afc"]]},{"id":"d4f78792.33c978","type":"debug","z":"4c23ea10.305624","name":"Raw msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":80,"wires":[]},{"id":"da7c3f83.2d2b5","type":"mqtt out","z":"4c23ea10.305624","name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":1080,"y":200,"wires":[]},{"id":"a214634d.1c622","type":"comment","z":"4c23ea10.305624","name":"Body Temp","info":"","x":80,"y":160,"wires":[]},{"id":"e300ef6d.81afc","type":"function","z":"4c23ea10.305624","name":"telemetry/Data/Vis/Hospital/Patient/Vital/Temp","func":"var sensor = {};\n\nvar Tempmax = 0;\nvar Tempmin = 0;\nTempmax = 38;\nTempmin = 37;\n\nvar v1 = Math.random() * (Tempmax - Tempmin) + Tempmin;\nsensor.temperature = v1;\nvar topic = \"telemetry/Data/Vis/Hospital/Patient/Vital/Temp\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":160,"wires":[["d4f78792.33c978","da7c3f83.2d2b5","1a8436b8.06b009"]]},{"id":"1a8436b8.06b009","type":"ui_gauge","z":"4c23ea10.305624","name":"","group":"8a5dfa6b.024cc8","order":3,"width":0,"height":0,"gtype":"gage","title":"Body Temperature","label":"Degrees","format":"{{msg.payload.temperature}}","min":"30","max":"40","colors":["#b31200","#45e600","#ca3838"],"seg1":"37","seg2":"38","x":1090,"y":280,"wires":[]},{"id":"bdd2b050.2a009","type":"inject","z":"4c23ea10.305624","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":440,"wires":[["ee173c98.c369e"]]},{"id":"eab4bd57.1599c","type":"debug","z":"4c23ea10.305624","name":"Raw msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":360,"wires":[]},{"id":"e88f000f.b4171","type":"ui_gauge","z":"4c23ea10.305624","name":"","group":"8a5dfa6b.024cc8","order":3,"width":0,"height":0,"gtype":"gage","title":"Heart Rate","label":"Beats/min","format":"{{msg.payload.HeartRate}}","min":"40","max":"150","colors":["#b30c00","#3de600","#ca3838"],"seg1":"60","seg2":"100","x":1120,"y":580,"wires":[]},{"id":"e0588349.59c74","type":"mqtt out","z":"4c23ea10.305624","name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":1120,"y":480,"wires":[]},{"id":"b4b1d68.de20528","type":"comment","z":"4c23ea10.305624","name":"Heart Rate","info":"","x":80,"y":400,"wires":[]},{"id":"ee173c98.c369e","type":"function","z":"4c23ea10.305624","name":"telemetry/Data/Vis/Hospital/Patient/Vital/HeartRate","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\nmax = 150;\nmin = 135;\nvar v1 = Math.round(Math.random() * (max - min) + min);\n\nsensor.HeartRate = v1;\n\nvar topic = \"telemetry/Data/Vis/Hospital/Patient/Vital/HeartRate\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":440,"wires":[["eab4bd57.1599c","e88f000f.b4171","e0588349.59c74"]]},{"id":"53431b6c.eb4ce4","type":"inject","z":"4c23ea10.305624","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":760,"wires":[["30da7de3.37b3c2"]]},{"id":"aa1bc02e.f557","type":"debug","z":"4c23ea10.305624","name":"Raw msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":680,"wires":[]},{"id":"8e09c93f.1962c8","type":"mqtt out","z":"4c23ea10.305624","name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":1140,"y":800,"wires":[]},{"id":"4fe7931d.4dfddc","type":"comment","z":"4c23ea10.305624","name":"Oxygen Rate","info":"","x":90,"y":720,"wires":[]},{"id":"30da7de3.37b3c2","type":"function","z":"4c23ea10.305624","name":"telemetry/Data/Vis/Hospital/Patient/Vital/OxygenRate","func":"var sensor = {};\n\nvar max = 0;\nvar min = 0;\nmax = 99;\nmin = 93;\n\nvar v1 = Math.round(Math.random() * (max - min) + min);\n\nsensor.OxygenRate = v1;\n\nvar topic = \"telemetry/Data/Vis/Hospital/Patient/Vital/OxygenRate\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":760,"wires":[["aa1bc02e.f557","8e09c93f.1962c8","5dedb046.42d4a"]]},{"id":"5dedb046.42d4a","type":"ui_gauge","z":"4c23ea10.305624","name":"","group":"8a5dfa6b.024cc8","order":3,"width":0,"height":0,"gtype":"gage","title":"Oxygen Rate","label":"percent","format":"{{msg.payload.OxygenRate}}","min":"80","max":"100","colors":["#b31b00","#f2eb07","#43cb3a"],"seg1":"88","seg2":"93","x":1130,"y":880,"wires":[]},{"id":"9382a1fd.d733","type":"inject","z":"4c23ea10.305624","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":1100,"wires":[["f1ed454f.1e33c8"]]},{"id":"997b390.e7f28c8","type":"debug","z":"4c23ea10.305624","name":"Raw msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":1020,"wires":[]},{"id":"e98adde4.7a4d3","type":"mqtt out","z":"4c23ea10.305624","name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":1110,"y":1100,"wires":[]},{"id":"81c4b44d.8837e8","type":"comment","z":"4c23ea10.305624","name":"Blood Pressure","info":"","x":100,"y":1000,"wires":[]},{"id":"f1ed454f.1e33c8","type":"function","z":"4c23ea10.305624","name":"telemetry/Data/Vis/Hospital/Patient/Vital/BloodPressure","func":"var sensor = {};\n\nvar maxSystolic = 0;\nvar minSystolic = 0;\nvar maxDiastolic = 0;\nvar minDiastolic = 0;\n\nmaxSystolic = 170;\nminSystolic = 110;\nmaxDiastolic = 100;\nminDiastolic = 50;\n\n\nvar v1 = Math.round(Math.random() * (maxSystolic - minSystolic) + minSystolic);\nvar v2 = Math.round(Math.random() * (maxDiastolic - minDiastolic) + minDiastolic);\n\nsensor.SystolicBloodPressure = v1;\nsensor.DiastolicBloodPressure = v2;\n\n\nvar topic = \"telemetry/Data/Vis/Hospital/Patient/Vital/BloodPressure\";\n\nmsg.topic = topic;\nmsg.payload = [sensor.SystolicBloodPressure, sensor.DiastolicBloodPressure];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1100,"wires":[["997b390.e7f28c8","e98adde4.7a4d3","8d1205fa.ea8798","4accd86d.1c8028"]]},{"id":"8d1205fa.ea8798","type":"ui_gauge","z":"4c23ea10.305624","name":"","group":"8a5dfa6b.024cc8","order":3,"width":0,"height":0,"gtype":"gage","title":"Systolic Blood Pressure","label":"mmHg","format":"{{msg.payload[0]}}","min":"110","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"120","seg2":"170","x":1290,"y":1180,"wires":[]},{"id":"4accd86d.1c8028","type":"ui_gauge","z":"4c23ea10.305624","name":"","group":"8a5dfa6b.024cc8","order":6,"width":0,"height":0,"gtype":"gage","title":"Diastolic Blood Pressure","label":"mmHg","format":"{{msg.payload[1]}}","min":"50","max":"150","colors":["#50b300","#e6e600","#ea1010"],"seg1":"80","seg2":"110","x":1310,"y":1280,"wires":[]},{"id":"c929c69.4e4c838","type":"rtds-create","z":"f0929c96.b058c","rtdsName":"HeartRate","dimensionSize":"50","clientFunction":"RRJSIATK_RTDSCreate","x":430,"y":300,"wires":[["c42c0fe1.63f51"]]},{"id":"382a9949.2a36a6","type":"inject","z":"f0929c96.b058c","name":"A","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":130,"y":200,"wires":[["56bde01a.65cc1"]]},{"id":"c42c0fe1.63f51","type":"rtds-add-dimension","z":"f0929c96.b058c","dimensionName":"Heart_Rate (bpm)","minValue":"40","maxValue":"150","dataType":1,"clientFunction":"RRJSIATK_RTDSAddDimension","x":670,"y":120,"wires":[["efc7f0e8.5fdf"]]},{"id":"327d2f9d.c510d","type":"function","z":"f0929c96.b058c","name":"view presets","func":"var vName = \"Heart_Rate\";\nvar nLines = 3;\nvar pointsPerLine = 50;\nvar totalPoints = nLines * pointsPerLine;\n\nmsg.viewBuilder = {};\nmsg.viewBuilder.viewName = vName;\nmsg.viewBuilder.pointCount = totalPoints;\n\nmsg.view = {};\nmsg.view.name = vName;\nmsg.view.attributes = [];\nmsg.view.attributes[CNRIF.ViewAttribute.MinSize] = 0.01;\nmsg.view.data = [];\nvar x = [];\nvar y = [];\nvar z = [];\nvar indices = [];\n\n\nfor(var il = 0; il < nLines; il++) {\n    for(var ip = 0; ip < pointsPerLine; ip++) {\n        indices.push(il);\n        x.push(ip/pointsPerLine);\n    }\n}\n\n\n\nfor(var i = 0; i < msg.viewBuilder.pointCount; i++)\n{\n    y.push(0);\n    z.push(0);\n    \n}\n\nmsg.view.data[CNRIF.ViewData.XPosition] = x;\nmsg.view.data[CNRIF.ViewData.YPosition] = y;\nmsg.view.data[CNRIF.ViewData.ZPosition] = z;\nmsg.view.data[CNRIF.ViewData.Indices] = {isLinking: true, data: indices};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":460,"wires":[["85313419.7454d8"]]},{"id":"54aa3f46.a21df","type":"rtds-set-insert-behavior","z":"f0929c96.b058c","shiftdata":"1","clientFunction":"RRJSIATK_RTDSSetShiftdata","x":1230,"y":280,"wires":[["f84dc7c7.524e68"]]},{"id":"3bfaaebb.1f1f82","type":"comment","z":"f0929c96.b058c","name":"Heart Rate","info":"","x":660,"y":80,"wires":[]},{"id":"882ccd0.9c5253","type":"comment","z":"f0929c96.b058c","name":"time","info":"","x":870,"y":180,"wires":[]},{"id":"a382b722.521718","type":"view-builder","z":"f0929c96.b058c","viewName":"","pointCount":"1","meshTopology":"3","geometryType":"2","clientFunction":"RRJSIATK_ViewBuilder","x":690,"y":460,"wires":[["10cd8f78.8a74d1"]]},{"id":"10cd8f78.8a74d1","type":"set-view-data","z":"f0929c96.b058c","viewData":"-1","clientFunction":"RRJSIATK_SetViewData","x":910,"y":460,"wires":[["eefd40bb.75455"]]},{"id":"eefd40bb.75455","type":"set-view-attribute","z":"f0929c96.b058c","attribute":"-1","attrValue":0,"attrOverride":"false","clientFunction":"RRJSIATK_SetViewAttribute","x":1240,"y":460,"wires":[["5ed46342.6ad2ec"]]},{"id":"5ed46342.6ad2ec","type":"view-add-axes","z":"f0929c96.b058c","axes":"x,y","clientFunction":"RRJSIATK_ViewAddAxes","x":120,"y":560,"wires":[["c0c4555e.59dc88"]]},{"id":"cc531f5e.0c998","type":"function","z":"f0929c96.b058c","name":"client filter","func":"try {\n    var n = MAIN.usercanvas;\n    return msg;\n} catch(err) {\n    return null;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":720,"wires":[["268853ae.39972c","48a698df.f62148"]]},{"id":"268853ae.39972c","type":"rtds-get","z":"f0929c96.b058c","rtdsName":"HeartRate","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":1040,"y":720,"wires":[["5905fc71.6f26c4","d3d8b74f.a11638","7d2ec0b5.4b509","2282e1b4.90e13e"]]},{"id":"5905fc71.6f26c4","type":"rtds-set-data","z":"f0929c96.b058c","dimensionName":"Heart_Rate (bpm)","context":0,"location":"payload.HeartRate","clientFunction":"RRJSIATK_RTDSSetData","x":1290,"y":720,"wires":[[]]},{"id":"2d67067a.f3b4ba","type":"function","z":"f0929c96.b058c","name":"parse","func":"var data = JSON.parse(msg.payload);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":620,"wires":[["212cf5c0.054aca"]]},{"id":"d3d8b74f.a11638","type":"rtds-set-data","z":"f0929c96.b058c","dimensionName":"time","context":"1","location":"payload.time","clientFunction":"RRJSIATK_RTDSSetData","x":1290,"y":760,"wires":[[]]},{"id":"212cf5c0.054aca","type":"function","z":"f0929c96.b058c","name":"add time","func":"var d = new Date();\nvar hh = d.getHours();\nvar mm = d.getMinutes();\nvar ss = d.getSeconds();\nmsg.payload.time = \"\" + hh + \":\" + mm + \":\" + ss;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":660,"wires":[["cbc31734.016378"]]},{"id":"67eb892a.d779c8","type":"view-set-axis-data","z":"f0929c96.b058c","dataSource":"HeartRate","dimension":"time","axes":"x","clientFunction":"RRJSIATK_ViewSetAxisData","x":570,"y":560,"wires":[["df742f44.325"]]},{"id":"6eee9c50.e498d4","type":"function","z":"f0929c96.b058c","name":"Apply Data","func":"if(msg.hasOwnProperty(\"view\"))\n{\n    var ar = [];\n    var color = [];\n    \n    for(var i1 = 0; i1 <  msg.rtdsData1.length; i1++){\n        \n        if(msg.rtdsData1[i1] < 0.09 || msg.rtdsData1[i1] > 0.63 ){\n            \n            color.push([213/255, 94/255, 0/255]);\n            ar.push(msg.rtdsData1[i1]);\n            }\n            \n        else{\n                \n            color.push([0/255, 255/255, 0/255]);\n            ar.push(msg.rtdsData1[i1]);\n        }\n        \n    }\n    for(var i2 = 0; i2 <  msg.rtdsData2.length; i2++){\n        color.push([1, 1, 1]);\n        ar.push(msg.rtdsData2[i2]);\n        \n    }\n    for(var i3 = 0; i3 <  msg.rtdsData3.length; i3++){\n        color.push([1, 1, 1]);\n        ar.push(msg.rtdsData3[i3]);\n        \n    }\n    \n    msg.view.data = [];\n    msg.view.data[CNRIF.ViewData.YPosition] = ar;\n    msg.view.data[CNRIF.ViewData.Color] = color;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":880,"wires":[["d346f689.54ced8"]]},{"id":"5634e1ca.cc2a4","type":"rtds-get","z":"f0929c96.b058c","rtdsName":"HeartRate","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":300,"y":880,"wires":[["8160e415.bd3648"]]},{"id":"8160e415.bd3648","type":"rtds-get-data","z":"f0929c96.b058c","dimensionName":"Heart_Rate (bpm)","location":"rtdsData1","clientFunction":"RRJSIATK_RTDSGetData","x":510,"y":880,"wires":[["17940382.69479c"]]},{"id":"17940382.69479c","type":"rtds-get-data","z":"f0929c96.b058c","dimensionName":"time","location":"time","clientFunction":"RRJSIATK_RTDSGetData","x":510,"y":960,"wires":[["f62f888e.6c94c8"]]},{"id":"9ed9b010.bb604","type":"get-view","z":"f0929c96.b058c","viewName":"Heart_Rate","msgBehavior":"1","clientFunction":"RRJSIATK_GetView","x":900,"y":880,"wires":[["6eee9c50.e498d4","c756cd98.ca99d"]]},{"id":"85313419.7454d8","type":"destroy-view","z":"f0929c96.b058c","clientFunction":"RRJSIATK_DestroyView","x":510,"y":460,"wires":[["a382b722.521718"]]},{"id":"f84dc7c7.524e68","type":"function","z":"f0929c96.b058c","name":"passthrough","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":460,"wires":[["327d2f9d.c510d"]]},{"id":"df742f44.325","type":"view-hide-show-axis","z":"f0929c96.b058c","shown":"false","clientFunction":"RRJSIATK_ViewShowAxis","x":780,"y":560,"wires":[["53afcb15.91bf94"]]},{"id":"48a698df.f62148","type":"function","z":"f0929c96.b058c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":880,"wires":[["5634e1ca.cc2a4"]]},{"id":"d346f689.54ced8","type":"set-view-data","z":"f0929c96.b058c","viewData":"-1","clientFunction":"RRJSIATK_SetViewData","x":1310,"y":880,"wires":[[]]},{"id":"efc7f0e8.5fdf","type":"rtds-add-dimension","z":"f0929c96.b058c","dimensionName":"time","minValue":0,"maxValue":"50","dataType":"4","clientFunction":"RRJSIATK_RTDSAddDimension","x":690,"y":180,"wires":[["5e8253f.8a3a0ac"]]},{"id":"b5a47912.951d98","type":"rtds-destroy","z":"f0929c96.b058c","clientFunction":"RRJSIATK_RTDSDestroy","x":190,"y":300,"wires":[["c929c69.4e4c838"]]},{"id":"56bde01a.65cc1","type":"rtds-get","z":"f0929c96.b058c","rtdsName":"HeartRate","msgBehavior":"0","clientFunction":"RRJSIATK_RTDSGet","x":300,"y":200,"wires":[["b5a47912.951d98"]]},{"id":"b4cc67cf.922ae8","type":"mqtt in","z":"f0929c96.b058c","name":"","topic":"telemetry/Data/Vis/Hospital/Patient/Vital/HeartRate","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":250,"y":720,"wires":[["2d67067a.f3b4ba"]]},{"id":"f62f888e.6c94c8","type":"rtds-get-data","z":"f0929c96.b058c","dimensionName":"upperlimit","location":"rtdsData2","clientFunction":"RRJSIATK_RTDSGetData","x":510,"y":1040,"wires":[["4d910837.223938"]]},{"id":"a40a25ce.2fcd58","type":"comment","z":"f0929c96.b058c","name":"limit","info":"","x":870,"y":260,"wires":[]},{"id":"cbc31734.016378","type":"function","z":"f0929c96.b058c","name":"add upper limit","func":"var data = 110;\nmsg.payload.upperlimit = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":700,"wires":[["742427fd.f27858"]]},{"id":"c0c4555e.59dc88","type":"view-set-axis-data","z":"f0929c96.b058c","dataSource":"HeartRate","dimension":"Heart_Rate (bpm)","axes":"y","clientFunction":"RRJSIATK_ViewSetAxisData","x":350,"y":560,"wires":[["67eb892a.d779c8"]]},{"id":"e78eb9d9.2c6d48","type":"debug","z":"f0929c96.b058c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":640,"wires":[]},{"id":"7d2ec0b5.4b509","type":"rtds-set-data","z":"f0929c96.b058c","dimensionName":"upperlimit","context":"0","location":"payload.upperlimit","clientFunction":"RRJSIATK_RTDSSetData","x":1290,"y":640,"wires":[[]]},{"id":"5e8253f.8a3a0ac","type":"rtds-add-dimension","z":"f0929c96.b058c","dimensionName":"upperlimit","minValue":"40","maxValue":"150","dataType":"1","clientFunction":"RRJSIATK_RTDSAddDimension","x":690,"y":240,"wires":[["8f7f09ef.e420f8"]]},{"id":"8f7f09ef.e420f8","type":"rtds-add-dimension","z":"f0929c96.b058c","dimensionName":"lowerlimit","minValue":"40","maxValue":"150","dataType":"1","clientFunction":"RRJSIATK_RTDSAddDimension","x":690,"y":300,"wires":[["54aa3f46.a21df"]]},{"id":"742427fd.f27858","type":"function","z":"f0929c96.b058c","name":"add lower limit","func":"var data = 50;\nmsg.payload.lowerlimit = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":740,"wires":[["e78eb9d9.2c6d48","cc531f5e.0c998"]]},{"id":"2282e1b4.90e13e","type":"rtds-set-data","z":"f0929c96.b058c","dimensionName":"lowerlimit","context":"0","location":"payload.lowerlimit","clientFunction":"RRJSIATK_RTDSSetData","x":1290,"y":680,"wires":[[]]},{"id":"4d910837.223938","type":"rtds-get-data","z":"f0929c96.b058c","dimensionName":"lowerlimit","location":"rtdsData3","clientFunction":"RRJSIATK_RTDSGetData","x":510,"y":1120,"wires":[["9ed9b010.bb604"]]},{"id":"a0cc0e6b.bc747","type":"rtds-create","z":"3581abdc.fa1414","rtdsName":"OxygenRate","dimensionSize":"50","clientFunction":"RRJSIATK_RTDSCreate","x":430,"y":300,"wires":[["93201527.615078"]]},{"id":"a0962304.fd778","type":"inject","z":"3581abdc.fa1414","name":"A","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":130,"y":200,"wires":[["43158f6.5c4ae7"]]},{"id":"93201527.615078","type":"rtds-add-dimension","z":"3581abdc.fa1414","dimensionName":"Oxygen_Rate (%)","minValue":"80","maxValue":"100","dataType":1,"clientFunction":"RRJSIATK_RTDSAddDimension","x":670,"y":120,"wires":[["f1ff9e07.85805"]]},{"id":"cfe0cc55.be3e1","type":"rtds-set-insert-behavior","z":"3581abdc.fa1414","shiftdata":"1","clientFunction":"RRJSIATK_RTDSSetShiftdata","x":1230,"y":280,"wires":[["dc3509de.e77e88"]]},{"id":"b2492e17.a9eae","type":"comment","z":"3581abdc.fa1414","name":"Oxygen Rate","info":"","x":670,"y":80,"wires":[]},{"id":"2b9982ad.35229e","type":"comment","z":"3581abdc.fa1414","name":"time","info":"","x":870,"y":180,"wires":[]},{"id":"a515c279.e52e8","type":"view-builder","z":"3581abdc.fa1414","viewName":"","pointCount":"1","meshTopology":"3","geometryType":"2","clientFunction":"RRJSIATK_ViewBuilder","x":690,"y":460,"wires":[["3abf2d69.2b9672"]]},{"id":"3abf2d69.2b9672","type":"set-view-data","z":"3581abdc.fa1414","viewData":"-1","clientFunction":"RRJSIATK_SetViewData","x":910,"y":460,"wires":[["1727bf12.0317f1"]]},{"id":"1727bf12.0317f1","type":"set-view-attribute","z":"3581abdc.fa1414","attribute":"-1","attrValue":0,"attrOverride":"false","clientFunction":"RRJSIATK_SetViewAttribute","x":1240,"y":460,"wires":[["1ee8aa67.c174f6"]]},{"id":"1ee8aa67.c174f6","type":"view-add-axes","z":"3581abdc.fa1414","axes":"x,y","clientFunction":"RRJSIATK_ViewAddAxes","x":120,"y":560,"wires":[["bcbf38dd.e61378"]]},{"id":"772c62e4.c6880c","type":"function","z":"3581abdc.fa1414","name":"client filter","func":"try {\n    var n = MAIN.usercanvas;\n    return msg;\n} catch(err) {\n    return null;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":720,"wires":[["b4abad0.6eb215","550cc6e9.e94bd8"]]},{"id":"b4abad0.6eb215","type":"rtds-get","z":"3581abdc.fa1414","rtdsName":"OxygenRate","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":1040,"y":720,"wires":[["a933d3ab.01379","e511ccc4.197e4","20ac54a0.d9301c"]]},{"id":"a933d3ab.01379","type":"rtds-set-data","z":"3581abdc.fa1414","dimensionName":"Oxygen_Rate (%)","context":0,"location":"payload.OxygenRate","clientFunction":"RRJSIATK_RTDSSetData","x":1290,"y":720,"wires":[[]]},{"id":"2ddd1520.1a7dba","type":"function","z":"3581abdc.fa1414","name":"parse","func":"var data = JSON.parse(msg.payload);\nmsg.payload = data;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":620,"wires":[["39b0197.abdd1e6"]]},{"id":"e511ccc4.197e4","type":"rtds-set-data","z":"3581abdc.fa1414","dimensionName":"time","context":"1","location":"payload.time","clientFunction":"RRJSIATK_RTDSSetData","x":1290,"y":760,"wires":[[]]},{"id":"39b0197.abdd1e6","type":"function","z":"3581abdc.fa1414","name":"add time","func":"var d = new Date();\nvar hh = d.getHours();\nvar mm = d.getMinutes();\nvar ss = d.getSeconds();\nmsg.payload.time = \"\" + hh + \":\" + mm + \":\" + ss;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":660,"wires":[["9db6057d.cc72d8"]]},{"id":"e5052e07.3a1af","type":"view-set-axis-data","z":"3581abdc.fa1414","dataSource":"OxygenRate","dimension":"time","axes":"x","clientFunction":"RRJSIATK_ViewSetAxisData","x":610,"y":560,"wires":[["fda6f396.d7e1a"]]},{"id":"8f962cd2.814a3","type":"function","z":"3581abdc.fa1414","name":"Apply Data","func":"if(msg.hasOwnProperty(\"view\"))\n{\n    var ar = [];\n    var color = [];\n    \n    for(var i1 = 0; i1 <  msg.rtdsData1.length; i1++){\n        \n        if(msg.rtdsData1[i1] < 0.4){\n            \n            color.push([213/255, 94/255, 0/255]);\n            ar.push(msg.rtdsData1[i1]);\n            }\n            \n        else{\n                \n            color.push([0/255, 255/255, 0/255]);\n            ar.push(msg.rtdsData1[i1]);\n        }\n        \n    }\n    for(var i2 = 0; i2 <  msg.rtdsData2.length; i2++){\n        color.push([1, 1, 1]);\n        ar.push(msg.rtdsData2[i2]);\n        \n    }\n    \n    msg.view.data = [];\n    msg.view.data[CNRIF.ViewData.YPosition] = ar;\n    msg.view.data[CNRIF.ViewData.Color] = color;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":880,"wires":[["8f04f559.17cd68"]]},{"id":"729a34f4.dda8cc","type":"rtds-get","z":"3581abdc.fa1414","rtdsName":"OxygenRate","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":300,"y":880,"wires":[["287725bc.6a357a"]]},{"id":"287725bc.6a357a","type":"rtds-get-data","z":"3581abdc.fa1414","dimensionName":"Oxygen_Rate (%)","location":"rtdsData1","clientFunction":"RRJSIATK_RTDSGetData","x":510,"y":880,"wires":[["99bc2387.08834"]]},{"id":"99bc2387.08834","type":"rtds-get-data","z":"3581abdc.fa1414","dimensionName":"time","location":"time","clientFunction":"RRJSIATK_RTDSGetData","x":510,"y":960,"wires":[["6cdb3d77.90bd04"]]},{"id":"d9adecd0.f3b66","type":"get-view","z":"3581abdc.fa1414","viewName":"Oxygen_Rate","msgBehavior":"1","clientFunction":"RRJSIATK_GetView","x":900,"y":880,"wires":[["8f962cd2.814a3","23c99992.130696"]]},{"id":"eaf92555.e69b48","type":"destroy-view","z":"3581abdc.fa1414","clientFunction":"RRJSIATK_DestroyView","x":510,"y":460,"wires":[["a515c279.e52e8"]]},{"id":"dc3509de.e77e88","type":"function","z":"3581abdc.fa1414","name":"passthrough","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":460,"wires":[["bdae188f.e6f838"]]},{"id":"fda6f396.d7e1a","type":"view-hide-show-axis","z":"3581abdc.fa1414","shown":"false","clientFunction":"RRJSIATK_ViewShowAxis","x":820,"y":560,"wires":[["db11aeaf.1a976"]]},{"id":"550cc6e9.e94bd8","type":"function","z":"3581abdc.fa1414","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":880,"wires":[["729a34f4.dda8cc"]]},{"id":"f1ff9e07.85805","type":"rtds-add-dimension","z":"3581abdc.fa1414","dimensionName":"time","minValue":0,"maxValue":"50","dataType":"4","clientFunction":"RRJSIATK_RTDSAddDimension","x":690,"y":180,"wires":[["c3e1d061.80af9"]]},{"id":"8f7ec7b4.045ac8","type":"rtds-destroy","z":"3581abdc.fa1414","clientFunction":"RRJSIATK_RTDSDestroy","x":190,"y":300,"wires":[["a0cc0e6b.bc747"]]},{"id":"43158f6.5c4ae7","type":"rtds-get","z":"3581abdc.fa1414","rtdsName":"OxygenRate","msgBehavior":"0","clientFunction":"RRJSIATK_RTDSGet","x":300,"y":200,"wires":[["8f7ec7b4.045ac8"]]},{"id":"d6f4c1a7.528d2","type":"mqtt in","z":"3581abdc.fa1414","name":"","topic":"telemetry/Data/Vis/Hospital/Patient/Vital/OxygenRate","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":250,"y":720,"wires":[["2ddd1520.1a7dba"]]},{"id":"6cdb3d77.90bd04","type":"rtds-get-data","z":"3581abdc.fa1414","dimensionName":"limit","location":"rtdsData2","clientFunction":"RRJSIATK_RTDSGetData","x":510,"y":1040,"wires":[["d9adecd0.f3b66"]]},{"id":"4fd83dec.9f6024","type":"comment","z":"3581abdc.fa1414","name":"limit","info":"","x":670,"y":300,"wires":[]},{"id":"9db6057d.cc72d8","type":"function","z":"3581abdc.fa1414","name":"add limit","func":"var data = 88;\nmsg.payload.limit = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":700,"wires":[["d3efb5e5.f94218","772c62e4.c6880c"]]},{"id":"bcbf38dd.e61378","type":"view-set-axis-data","z":"3581abdc.fa1414","dataSource":"OxygenRate","dimension":"Oxygen_Rate (%)","axes":"y","clientFunction":"RRJSIATK_ViewSetAxisData","x":350,"y":560,"wires":[["e5052e07.3a1af"]]},{"id":"d3efb5e5.f94218","type":"debug","z":"3581abdc.fa1414","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":640,"wires":[]},{"id":"20ac54a0.d9301c","type":"rtds-set-data","z":"3581abdc.fa1414","dimensionName":"limit","context":"0","location":"payload.limit","clientFunction":"RRJSIATK_RTDSSetData","x":1290,"y":640,"wires":[[]]},{"id":"c3e1d061.80af9","type":"rtds-add-dimension","z":"3581abdc.fa1414","dimensionName":"limit","minValue":"80","maxValue":"100","dataType":"1","clientFunction":"RRJSIATK_RTDSAddDimension","x":690,"y":240,"wires":[["cfe0cc55.be3e1"]]},{"id":"8992d675.88a858","type":"rtds-create","z":"4eb77cb4.9f5d54","rtdsName":"BodyTemp","dimensionSize":"50","clientFunction":"RRJSIATK_RTDSCreate","x":450,"y":280,"wires":[["d354ac35.d0775"]]},{"id":"4017f895.737898","type":"inject","z":"4eb77cb4.9f5d54","name":"A","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":150,"y":180,"wires":[["88109840.b01058"]]},{"id":"d354ac35.d0775","type":"rtds-add-dimension","z":"4eb77cb4.9f5d54","dimensionName":"Temperature (°C)","minValue":"30","maxValue":"40","dataType":1,"clientFunction":"RRJSIATK_RTDSAddDimension","x":710,"y":40,"wires":[["7422392c.fda768"]]},{"id":"328a47e2.c0dc08","type":"function","z":"4eb77cb4.9f5d54","name":"view presets","func":"var vName = \"temperature\";\nvar nLines = 3;\nvar pointsPerLine = 50;\nvar totalPoints = nLines * pointsPerLine;\n\nmsg.viewBuilder = {};\nmsg.viewBuilder.viewName = vName;\nmsg.viewBuilder.pointCount = totalPoints;\n\nmsg.view = {};\nmsg.view.name = vName;\nmsg.view.attributes = [];\nmsg.view.attributes[CNRIF.ViewAttribute.MinSize] = 0.01;\nmsg.view.data = [];\nvar x = [];\nvar y = [];\nvar z = [];\nvar indices = [];\n\n\nfor(var il = 0; il < nLines; il++) {\n    for(var ip = 0; ip < pointsPerLine; ip++) {\n        indices.push(il);\n        x.push(ip/pointsPerLine);\n    }\n}\n\n\n\nfor(var i = 0; i < msg.viewBuilder.pointCount; i++)\n{\n    y.push(0);\n    z.push(0);\n    \n}\n\nmsg.view.data[CNRIF.ViewData.XPosition] = x;\nmsg.view.data[CNRIF.ViewData.YPosition] = y;\nmsg.view.data[CNRIF.ViewData.ZPosition] = z;\nmsg.view.data[CNRIF.ViewData.Indices] = {isLinking: true, data: indices};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":440,"wires":[["4c11d4f1.47036c"]]},{"id":"e00df4c6.26c108","type":"rtds-set-insert-behavior","z":"4eb77cb4.9f5d54","shiftdata":"1","clientFunction":"RRJSIATK_RTDSSetShiftdata","x":1250,"y":260,"wires":[["46c1bbd7.be4364"]]},{"id":"66e56769.5e94f8","type":"comment","z":"4eb77cb4.9f5d54","name":"BodyTemp","info":"","x":500,"y":40,"wires":[]},{"id":"a82c165d.e16118","type":"comment","z":"4eb77cb4.9f5d54","name":"time","info":"","x":890,"y":80,"wires":[]},{"id":"3a4cf1e9.d1822e","type":"view-builder","z":"4eb77cb4.9f5d54","viewName":"","pointCount":"1","meshTopology":"3","geometryType":"2","clientFunction":"RRJSIATK_ViewBuilder","x":710,"y":440,"wires":[["73a732b.ae80ccc"]]},{"id":"73a732b.ae80ccc","type":"set-view-data","z":"4eb77cb4.9f5d54","viewData":"-1","clientFunction":"RRJSIATK_SetViewData","x":930,"y":440,"wires":[["d827662.dc51b98"]]},{"id":"d827662.dc51b98","type":"set-view-attribute","z":"4eb77cb4.9f5d54","attribute":"-1","attrValue":0,"attrOverride":"false","clientFunction":"RRJSIATK_SetViewAttribute","x":1260,"y":440,"wires":[["3d35bc6f.de4334"]]},{"id":"3d35bc6f.de4334","type":"view-add-axes","z":"4eb77cb4.9f5d54","axes":"x,y","clientFunction":"RRJSIATK_ViewAddAxes","x":140,"y":540,"wires":[["eb3c1f45.ea5b4"]]},{"id":"a8813e6c.50522","type":"function","z":"4eb77cb4.9f5d54","name":"client filter","func":"try {\n    var n = MAIN.usercanvas;\n    return msg;\n} catch(err) {\n    return null;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":700,"wires":[["953aa73c.5135c8","dbed31bf.ae28c"]]},{"id":"953aa73c.5135c8","type":"rtds-get","z":"4eb77cb4.9f5d54","rtdsName":"BodyTemp","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":1080,"y":700,"wires":[["4e6268e8.657c28","537ce365.74baac","af381187.5f2b1","551bed92.615834"]]},{"id":"4e6268e8.657c28","type":"rtds-set-data","z":"4eb77cb4.9f5d54","dimensionName":"Temperature (°C)","context":0,"location":"payload.temperature","clientFunction":"RRJSIATK_RTDSSetData","x":1450,"y":680,"wires":[[]]},{"id":"af7ae0e8.950a3","type":"function","z":"4eb77cb4.9f5d54","name":"parse","func":"var data = JSON.parse(msg.payload);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":600,"wires":[["c9f61e6c.16d1c"]]},{"id":"537ce365.74baac","type":"rtds-set-data","z":"4eb77cb4.9f5d54","dimensionName":"time","context":"1","location":"payload.time","clientFunction":"RRJSIATK_RTDSSetData","x":1450,"y":720,"wires":[[]]},{"id":"c9f61e6c.16d1c","type":"function","z":"4eb77cb4.9f5d54","name":"add time","func":"var d = new Date();\nvar hh = d.getHours();\nvar mm = d.getMinutes();\nvar ss = d.getSeconds();\nmsg.payload.time = \"\" + hh + \":\" + mm + \":\" + ss;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":640,"wires":[["f820c07c.b6c85"]]},{"id":"5f93558a.d4388c","type":"view-set-axis-data","z":"4eb77cb4.9f5d54","dataSource":"BodyTemp","dimension":"time","axes":"x","clientFunction":"RRJSIATK_ViewSetAxisData","x":590,"y":540,"wires":[["42e98291.30e80c"]]},{"id":"3b331d5b.710812","type":"function","z":"4eb77cb4.9f5d54","name":"Apply Data","func":"if(msg.hasOwnProperty(\"view\"))\n{\n    var ar = [];\n    var color = [];\n    \n    for(var i1 = 0; i1 <  msg.rtdsData1.length; i1++){\n        \n        if(msg.rtdsData1[i1] < 0.5 || msg.rtdsData1[i1] > 0.8 ){\n            \n            color.push([213/255, 94/255, 0/255]);\n            ar.push(msg.rtdsData1[i1]);\n            }\n            \n        else if((msg.rtdsData1[i1] < 0.6 && msg.rtdsData1[i1] > 0.5) || (msg.rtdsData1[i1] < 0.8 && msg.rtdsData1[i1] > 0.7)){\n                \n            color.push([240/255, 228/255, 66/255]);\n            ar.push(msg.rtdsData1[i1]);\n        }\n        else {\n            color.push([0/255, 255/255, 0/255]);\n            ar.push(msg.rtdsData1[i1]);\n        }\n        \n    }\n    for(var i2 = 0; i2 <  msg.rtdsData2.length; i2++){\n        color.push([1, 1, 1]);\n        ar.push(msg.rtdsData2[i2]);\n        \n    }\n    for(var i3 = 0; i3 <  msg.rtdsData3.length; i3++){\n        color.push([1, 1, 1]);\n        ar.push(msg.rtdsData3[i3]);\n        \n    }\n    \n    msg.view.data = [];\n    msg.view.data[CNRIF.ViewData.YPosition] = ar;\n    msg.view.data[CNRIF.ViewData.Color] = color;\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":860,"wires":[["39f79d42.acce12"]]},{"id":"c134b9f0.0c4558","type":"rtds-get","z":"4eb77cb4.9f5d54","rtdsName":"BodyTemp","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":320,"y":860,"wires":[["b4e756f0.b02fc8"]]},{"id":"b4e756f0.b02fc8","type":"rtds-get-data","z":"4eb77cb4.9f5d54","dimensionName":"Temperature (°C)","location":"rtdsData1","clientFunction":"RRJSIATK_RTDSGetData","x":510,"y":860,"wires":[["d50aff41.dd4a3"]]},{"id":"d50aff41.dd4a3","type":"rtds-get-data","z":"4eb77cb4.9f5d54","dimensionName":"time","location":"time","clientFunction":"RRJSIATK_RTDSGetData","x":510,"y":900,"wires":[["7781e7bd.0e2828"]]},{"id":"e152bb01.9cf228","type":"get-view","z":"4eb77cb4.9f5d54","viewName":"temperature","msgBehavior":"1","clientFunction":"RRJSIATK_GetView","x":920,"y":860,"wires":[["3b331d5b.710812","7c561676.9cfc28"]]},{"id":"4c11d4f1.47036c","type":"destroy-view","z":"4eb77cb4.9f5d54","clientFunction":"RRJSIATK_DestroyView","x":530,"y":440,"wires":[["3a4cf1e9.d1822e"]]},{"id":"46c1bbd7.be4364","type":"function","z":"4eb77cb4.9f5d54","name":"passthrough","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":440,"wires":[["328a47e2.c0dc08"]]},{"id":"42e98291.30e80c","type":"view-hide-show-axis","z":"4eb77cb4.9f5d54","shown":"false","clientFunction":"RRJSIATK_ViewShowAxis","x":780,"y":540,"wires":[["cdedd257.4ed6"]]},{"id":"dbed31bf.ae28c","type":"function","z":"4eb77cb4.9f5d54","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":860,"wires":[["c134b9f0.0c4558"]]},{"id":"39f79d42.acce12","type":"set-view-data","z":"4eb77cb4.9f5d54","viewData":"-1","clientFunction":"RRJSIATK_SetViewData","x":1330,"y":860,"wires":[[]]},{"id":"7422392c.fda768","type":"rtds-add-dimension","z":"4eb77cb4.9f5d54","dimensionName":"time","minValue":0,"maxValue":"50","dataType":"4","clientFunction":"RRJSIATK_RTDSAddDimension","x":710,"y":80,"wires":[["4b7b96c8.35b898"]]},{"id":"dc2ee524.1aa088","type":"rtds-destroy","z":"4eb77cb4.9f5d54","clientFunction":"RRJSIATK_RTDSDestroy","x":210,"y":280,"wires":[["8992d675.88a858"]]},{"id":"88109840.b01058","type":"rtds-get","z":"4eb77cb4.9f5d54","rtdsName":"BodyTemp","msgBehavior":"0","clientFunction":"RRJSIATK_RTDSGet","x":320,"y":180,"wires":[["dc2ee524.1aa088"]]},{"id":"e90e8243.be262","type":"mqtt in","z":"4eb77cb4.9f5d54","name":"","topic":"telemetry/Data/Vis/Hospital/Patient/Vital/Temp","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":170,"y":660,"wires":[["af7ae0e8.950a3"]]},{"id":"7781e7bd.0e2828","type":"rtds-get-data","z":"4eb77cb4.9f5d54","dimensionName":"upperlimit","location":"rtdsData2","clientFunction":"RRJSIATK_RTDSGetData","x":510,"y":940,"wires":[["b2c66bf7.955068"]]},{"id":"b1f6305f.403fc","type":"comment","z":"4eb77cb4.9f5d54","name":"limit","info":"","x":890,"y":200,"wires":[]},{"id":"f820c07c.b6c85","type":"function","z":"4eb77cb4.9f5d54","name":"add upper limit","func":"var data = 38;\nmsg.payload.upperlimit = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":680,"wires":[["1c79a9ae.5a5c16"]]},{"id":"eb3c1f45.ea5b4","type":"view-set-axis-data","z":"4eb77cb4.9f5d54","dataSource":"BodyTemp","dimension":"Temperature (°C)","axes":"y","clientFunction":"RRJSIATK_ViewSetAxisData","x":350,"y":540,"wires":[["5f93558a.d4388c"]]},{"id":"87830929.b83c38","type":"debug","z":"4eb77cb4.9f5d54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":600,"wires":[]},{"id":"af381187.5f2b1","type":"rtds-set-data","z":"4eb77cb4.9f5d54","dimensionName":"upperlimit","context":"0","location":"payload.upperlimit","clientFunction":"RRJSIATK_RTDSSetData","x":1410,"y":600,"wires":[[]]},{"id":"4b7b96c8.35b898","type":"rtds-add-dimension","z":"4eb77cb4.9f5d54","dimensionName":"upperlimit","minValue":"30","maxValue":"40","dataType":"1","clientFunction":"RRJSIATK_RTDSAddDimension","x":710,"y":120,"wires":[["81b930cc.73d24"]]},{"id":"81b930cc.73d24","type":"rtds-add-dimension","z":"4eb77cb4.9f5d54","dimensionName":"lowerlimit","minValue":"30","maxValue":"40","dataType":"1","clientFunction":"RRJSIATK_RTDSAddDimension","x":710,"y":160,"wires":[["e00df4c6.26c108"]]},{"id":"1c79a9ae.5a5c16","type":"function","z":"4eb77cb4.9f5d54","name":"add lower limit","func":"var data = 35;\nmsg.payload.lowerlimit = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":720,"wires":[["a8813e6c.50522","87830929.b83c38"]]},{"id":"551bed92.615834","type":"rtds-set-data","z":"4eb77cb4.9f5d54","dimensionName":"lowerlimit","context":"0","location":"payload.lowerlimit","clientFunction":"RRJSIATK_RTDSSetData","x":1430,"y":640,"wires":[[]]},{"id":"b2c66bf7.955068","type":"rtds-get-data","z":"4eb77cb4.9f5d54","dimensionName":"lowerlimit","location":"rtdsData3","clientFunction":"RRJSIATK_RTDSGetData","x":510,"y":980,"wires":[["e152bb01.9cf228"]]},{"id":"a6494dd4.cea07","type":"rtds-add-dimension","z":"14ffecb4.b21283","dimensionName":"syslimit","minValue":"50","maxValue":"200","dataType":1,"clientFunction":"RRJSIATK_RTDSAddDimension","x":630,"y":220,"wires":[["7f1deaa.191fe14"]]},{"id":"7f1deaa.191fe14","type":"rtds-add-dimension","z":"14ffecb4.b21283","dimensionName":"dialimit","minValue":"50","maxValue":"200","dataType":1,"clientFunction":"RRJSIATK_RTDSAddDimension","x":910,"y":220,"wires":[["bf280831.4aabb8"]]},{"id":"405310aa.3c2c5","type":"comment","z":"14ffecb4.b21283","name":"limits","info":"","x":770,"y":260,"wires":[]},{"id":"d20a3d57.e0d0f","type":"function","z":"14ffecb4.b21283","name":"systolic limit","func":"var data = 170;\nmsg.payload.syslimit = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":620,"wires":[["9711d92c.a4e928"]]},{"id":"9711d92c.a4e928","type":"function","z":"14ffecb4.b21283","name":"diastolic  limit","func":"var data = 110;\nmsg.payload.dialimit = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":660,"wires":[["1b5025eb.7b6f6a","21661fd5.ec49"]]},{"id":"95d75820.f3a088","type":"rtds-set-data","z":"14ffecb4.b21283","dimensionName":"syslimit","context":0,"location":"payload.syslimit","clientFunction":"RRJSIATK_RTDSSetData","x":1290,"y":520,"wires":[[]]},{"id":"a9017e92.f676a","type":"rtds-set-data","z":"14ffecb4.b21283","dimensionName":"dialimit","context":0,"location":"payload.dialimit","clientFunction":"RRJSIATK_RTDSSetData","x":1290,"y":760,"wires":[[]]},{"id":"d6c854e1.39d3a8","type":"rtds-get-data","z":"14ffecb4.b21283","dimensionName":"dialimit","location":"rtdsData3","clientFunction":"RRJSIATK_RTDSGetData","x":490,"y":1020,"wires":[["c4ef8ca5.b81d"]]},{"id":"c4ef8ca5.b81d","type":"rtds-get-data","z":"14ffecb4.b21283","dimensionName":"syslimit","location":"rtdsData4","clientFunction":"RRJSIATK_RTDSGetData","x":490,"y":1080,"wires":[["a72b75f.024e588"]]},{"id":"bdae188f.e6f838","type":"function","z":"3581abdc.fa1414","name":"view presets","func":"var vName = \"Oxygen_Rate\";\nvar nLines = 2;\nvar pointsPerLine = 50;\nvar totalPoints = nLines * pointsPerLine;\n\nmsg.viewBuilder = {};\nmsg.viewBuilder.viewName = vName;\nmsg.viewBuilder.pointCount = totalPoints;\n\nmsg.view = {};\nmsg.view.name = vName;\nmsg.view.attributes = [];\nmsg.view.attributes[CNRIF.ViewAttribute.MinSize] = 0.01;\nmsg.view.data = [];\nvar x = [];\nvar y = [];\nvar z = [];\nvar indices = [];\n\n\n\nfor(var il = 0; il < nLines; il++) {\n    for(var ip = 0; ip < pointsPerLine; ip++) {\n        indices.push(il);\n        x.push(ip/pointsPerLine);\n    }\n}\n\nfor(var i = 0; i < msg.viewBuilder.pointCount; i++)\n{\n    y.push(0);\n    z.push(0);\n    \n}\n\nmsg.view.data[CNRIF.ViewData.XPosition] = x;\nmsg.view.data[CNRIF.ViewData.YPosition] = y;\nmsg.view.data[CNRIF.ViewData.ZPosition] = z;\nmsg.view.data[CNRIF.ViewData.Indices] = {isLinking: true, data: indices};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":460,"wires":[["eaf92555.e69b48"]]},{"id":"53afcb15.91bf94","type":"view-set-axis-tick-spacing","z":"f0929c96.b058c","spacing":"0.001","axes":"x","location":"tickSpacing","clientFunction":"RRJSIATK_SetAxisTickSpacing","x":1010,"y":560,"wires":[["d4c85db3.1001b"]]},{"id":"c756cd98.ca99d","type":"view-update-axis","z":"f0929c96.b058c","axes":"x,y","clientFunction":"RRJSIATK_ViewUpdateAxis","x":1160,"y":1020,"wires":[[]]},{"id":"cdedd257.4ed6","type":"view-set-axis-tick-spacing","z":"4eb77cb4.9f5d54","spacing":"0.001","axes":"x","location":"tickSpacing","clientFunction":"RRJSIATK_SetAxisTickSpacing","x":1010,"y":540,"wires":[["6e84f122.4d1b"]]},{"id":"7c561676.9cfc28","type":"view-update-axis","z":"4eb77cb4.9f5d54","axes":"x,y","clientFunction":"RRJSIATK_ViewUpdateAxis","x":1160,"y":1040,"wires":[[]]},{"id":"db11aeaf.1a976","type":"view-set-axis-tick-spacing","z":"3581abdc.fa1414","spacing":"0.001","axes":"x","location":"tickSpacing","clientFunction":"RRJSIATK_SetAxisTickSpacing","x":1030,"y":560,"wires":[["e1acdb09.ad7d28"]]},{"id":"23c99992.130696","type":"view-update-axis","z":"3581abdc.fa1414","axes":"x,y","clientFunction":"RRJSIATK_ViewUpdateAxis","x":1130,"y":1020,"wires":[[]]},{"id":"8c8a15b8.154618","type":"view-set-axis-tick-spacing","z":"14ffecb4.b21283","spacing":"0.001","axes":"x","location":"tickSpacing","clientFunction":"RRJSIATK_SetAxisTickSpacing","x":1010,"y":480,"wires":[["4bab1c71.2f3704"]]},{"id":"e28b4d2b.33fcb","type":"view-update-axis","z":"14ffecb4.b21283","axes":"x,y","clientFunction":"RRJSIATK_ViewUpdateAxis","x":1070,"y":960,"wires":[[]]},{"id":"368cb22f.86539e","type":"inject","z":"6a20ff3d.4d5bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":300,"wires":[["44cab33c.1db0fc"]]},{"id":"51f4c3a8.6c931c","type":"debug","z":"6a20ff3d.4d5bf","name":"Raw msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":220,"wires":[]},{"id":"888f21e0.6638d","type":"mqtt out","z":"6a20ff3d.4d5bf","name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":980,"y":340,"wires":[]},{"id":"44cab33c.1db0fc","type":"function","z":"6a20ff3d.4d5bf","name":"telemetry/Bardata/Vis/Hospital/Patient/Vital/OxygenRate","func":"var barvalues = {};\nvar v1 = [80, 80, 80, 86, 92, 80, 80];\n\nbarvalues.OxygenRate = v1;\nvar topic = \"telemetry/Bardata/Vis/Hospital/Patient/Vital/OxygenRate\";\nmsg.topic = topic;\nmsg.payload = barvalues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":300,"wires":[["51f4c3a8.6c931c","888f21e0.6638d"]]},{"id":"6ded8943.e30d98","type":"comment","z":"6a20ff3d.4d5bf","name":"Oxygen Rate","info":"","x":1170,"y":280,"wires":[]},{"id":"cd91828e.a85e8","type":"inject","z":"6a20ff3d.4d5bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":540,"wires":[["41851126.d970f"]]},{"id":"b40b6542.61ba08","type":"debug","z":"6a20ff3d.4d5bf","name":"Raw msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":460,"wires":[]},{"id":"6683663e.ccf6b8","type":"mqtt out","z":"6a20ff3d.4d5bf","name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":980,"y":580,"wires":[]},{"id":"41851126.d970f","type":"function","z":"6a20ff3d.4d5bf","name":"telemetry/Bardata/Vis/Hospital/Patient/Vital/HeartRate","func":"var barvalues = {};\nvar v1 = [40, 40, 40, 100, 135, 40, 40];\n\nbarvalues.HeartRate = v1;\nvar topic = \"telemetry/Bardata/Vis/Hospital/Patient/Vital/HeartRate\";\nmsg.topic = topic;\nmsg.payload = barvalues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":540,"wires":[["b40b6542.61ba08","6683663e.ccf6b8"]]},{"id":"aca1a209.00a56","type":"comment","z":"6a20ff3d.4d5bf","name":"Heart Rate","info":"","x":1170,"y":520,"wires":[]},{"id":"7f7e2990.f8c7a8","type":"inject","z":"6a20ff3d.4d5bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":780,"wires":[["5d29502a.0141d"]]},{"id":"ebdd593e.26d6e8","type":"debug","z":"6a20ff3d.4d5bf","name":"Raw msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":700,"wires":[]},{"id":"a25b186e.4dea38","type":"mqtt out","z":"6a20ff3d.4d5bf","name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":980,"y":820,"wires":[]},{"id":"5d29502a.0141d","type":"function","z":"6a20ff3d.4d5bf","name":"telemetry/Bardata/Vis/Hospital/Patient/Vital/Temp","func":"var barvalues = {};\nvar v1 = [30, 30, 30, 37, 37.1, 30, 30];\n\nbarvalues.Temp = v1;\nvar topic = \"telemetry/Bardata/Vis/Hospital/Patient/Vital/Temp\";\nmsg.topic = topic;\nmsg.payload = barvalues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":780,"wires":[["ebdd593e.26d6e8","a25b186e.4dea38"]]},{"id":"cb9df06a.13f11","type":"comment","z":"6a20ff3d.4d5bf","name":"Temperature","info":"","x":1160,"y":760,"wires":[]},{"id":"5d7a0b3f.5eace4","type":"inject","z":"6a20ff3d.4d5bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1060,"wires":[["7ff60d81.9216f4"]]},{"id":"b454eb7a.ec6088","type":"debug","z":"6a20ff3d.4d5bf","name":"Raw msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":980,"wires":[]},{"id":"b2bbfc4.ff2ab","type":"mqtt out","z":"6a20ff3d.4d5bf","name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":960,"y":1100,"wires":[]},{"id":"7ff60d81.9216f4","type":"function","z":"6a20ff3d.4d5bf","name":"telemetry/Bardata/Vis/Hospital/Patient/Vital/BloodPressure","func":"var barvalues = {};\nvar v1 = [50, 50, 50, 115.6, 118, 50, 50];\nvar v2 =[50, 50, 50, 78, 82.2, 50, 50];\n\nbarvalues.Systolic = v1;\nbarvalues.Diastolic = v2;\n\nvar topic = \"telemetry/Bardata/Vis/Hospital/Patient/Vital/BloodPressure\";\nmsg.topic = topic;\nmsg.payload = [barvalues.Systolic, barvalues.Diastolic];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":1060,"wires":[["b454eb7a.ec6088","b2bbfc4.ff2ab"]]},{"id":"eebb2934.de86d8","type":"comment","z":"6a20ff3d.4d5bf","name":"Blood Pressure","info":"","x":1150,"y":1040,"wires":[]},{"id":"8f04f559.17cd68","type":"set-view-data","z":"3581abdc.fa1414","viewData":"-1","clientFunction":"RRJSIATK_SetViewData","x":1310,"y":880,"wires":[[]]},{"id":"c5e7d14e.bd0b6","type":"mrtk-button-group","z":"b4a1401b.0113a","name":"Buttons","layout":"4x2","x":130,"y":120,"wires":[["725baaec.d1aca4","3aab3dcf.440012","e5b3938.324c27","46341fd4.7224d","68fd8a3b.a63414","debbd019.f17ae"]]},{"id":"68fd8a3b.a63414","type":"ui_button","z":"b4a1401b.0113a","name":"","group":"6531107d.0ad47","order":6,"width":0,"height":0,"passthru":false,"label":"Real Time Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":460,"y":900,"wires":[["e8359e1e.1b549"]]},{"id":"c832544.25ce1a8","type":"function","z":"b4a1401b.0113a","name":"load RT Body Temp","func":"CNR_InitFromId('4eb77cb4.9f5d54');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":900,"wires":[["faee9230.32044"]]},{"id":"2324d88f.9166b8","type":"function","z":"b4a1401b.0113a","name":"load RT Heart Rate","func":"CNR_InitFromId('f0929c96.b058c');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":960,"wires":[["7eb33362.d852bc"]]},{"id":"cefdd9c2.e569c8","type":"function","z":"b4a1401b.0113a","name":"load RT  Oxygen Rate","func":"CNR_InitFromId('3581abdc.fa1414');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1020,"wires":[["ada32654.4fe738"]]},{"id":"d78ede74.d7c4e","type":"function","z":"b4a1401b.0113a","name":"load RT Blood Pressure","func":"CNR_InitFromId('14ffecb4.b21283');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":1080,"wires":[["44f4fb30.841a74"]]},{"id":"faee9230.32044","type":"function","z":"b4a1401b.0113a","name":"delay","func":"RT.Web.SetTiimeout(500, function(){\n    var m = msg;\n    node.send([m]);\n});\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":900,"wires":[["2324d88f.9166b8"]]},{"id":"7eb33362.d852bc","type":"function","z":"b4a1401b.0113a","name":"delay","func":"RT.Web.SetTiimeout(500, function(){\n    var m = msg;\n    node.send([m]);\n});\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":960,"wires":[["cefdd9c2.e569c8"]]},{"id":"ada32654.4fe738","type":"function","z":"b4a1401b.0113a","name":"delay","func":"RT.Web.SetTiimeout(500, function(){\n    var m = msg;\n    node.send([m]);\n});\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":1020,"wires":[["d78ede74.d7c4e"]]},{"id":"44f4fb30.841a74","type":"function","z":"b4a1401b.0113a","name":"delay","func":"RT.Web.SetTiimeout(500, function(){\n    var m = msg;\n    node.send([m]);\n});\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":1080,"wires":[[]]},{"id":"debbd019.f17ae","type":"ui_button","z":"b4a1401b.0113a","name":"","group":"6531107d.0ad47","order":7,"width":0,"height":0,"passthru":false,"label":"History Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":1180,"wires":[["624d5c97.5a7944"]]},{"id":"2efe3c32.2dbe04","type":"function","z":"b4a1401b.0113a","name":"load Body Temp","func":"CNR_InitFromId('987ba47f.a2cb48');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1180,"wires":[["e3968998.e156e8"]]},{"id":"72b875ce.e0099c","type":"function","z":"b4a1401b.0113a","name":"load Heart Rate","func":"CNR_InitFromId('9ffe13cc.5f112');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1240,"wires":[["d46cd4ff.fe1f68"]]},{"id":"67e7a677.db9bb8","type":"function","z":"b4a1401b.0113a","name":"load Oxygen Rate","func":"CNR_InitFromId('5fa77fc.beca38');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":1300,"wires":[["87334762.0ad048"]]},{"id":"48134ebb.511c1","type":"function","z":"b4a1401b.0113a","name":"load Blood Pressure","func":"CNR_InitFromId('c380ca6a.8b37e8');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":1360,"wires":[["d3cb1101.558b1"]]},{"id":"e3968998.e156e8","type":"function","z":"b4a1401b.0113a","name":"delay","func":"RT.Web.SetTiimeout(500, function(){\n    var m = msg;\n    node.send([m]);\n});\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":1180,"wires":[["72b875ce.e0099c"]]},{"id":"d46cd4ff.fe1f68","type":"function","z":"b4a1401b.0113a","name":"delay","func":"RT.Web.SetTiimeout(500, function(){\n    var m = msg;\n    node.send([m]);\n});\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":1240,"wires":[["67e7a677.db9bb8"]]},{"id":"87334762.0ad048","type":"function","z":"b4a1401b.0113a","name":"delay","func":"RT.Web.SetTiimeout(500, function(){\n    var m = msg;\n    node.send([m]);\n});\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":1300,"wires":[["48134ebb.511c1"]]},{"id":"d3cb1101.558b1","type":"function","z":"b4a1401b.0113a","name":"delay","func":"RT.Web.SetTiimeout(500, function(){\n    var m = msg;\n    node.send([m]);\n});\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":1360,"wires":[[]]},{"id":"46341fd4.7224d","type":"ui_button","z":"b4a1401b.0113a","name":"","group":"6531107d.0ad47","order":2,"width":0,"height":0,"passthru":false,"label":"Body Temperature","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":470,"y":740,"wires":[["7c741ff7.edf0c"]]},{"id":"e5b3938.324c27","type":"ui_button","z":"b4a1401b.0113a","name":"","group":"6531107d.0ad47","order":4,"width":0,"height":0,"passthru":false,"label":"Oxygen Rate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":470,"y":580,"wires":[["6ef7e2bf.591d6c"]]},{"id":"3aab3dcf.440012","type":"ui_button","z":"b4a1401b.0113a","name":"","group":"6531107d.0ad47","order":3,"width":0,"height":0,"passthru":false,"label":"Heart Rate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":470,"y":420,"wires":[["821fe6e9.642a68"]]},{"id":"2ec4ce0b.230e52","type":"function","z":"b4a1401b.0113a","name":"load RT  Heart Rate","func":"CNR_InitFromId('f0929c96.b058c');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":380,"wires":[[]]},{"id":"6ae3edf.5027914","type":"function","z":"b4a1401b.0113a","name":"load RT  Oxygen Rate","func":"CNR_InitFromId('3581abdc.fa1414');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":540,"wires":[[]]},{"id":"4bab1c71.2f3704","type":"function","z":"14ffecb4.b21283","name":"allow manipulation","func":"var hT = null;\nvar hR = null;\nvar hS = null;\n\nvar chartGo = MAIN.UE.GameObject.Find(\"VIEW_Blood_Pressure\");\nvar parent = MAIN.UE.GameObject.Find(\"ParentCube\");\nvar bc =MAIN.RR.Runtime.AddBoxCollider(chartGo);\nbc.size = new MAIN.UE.Vector3(0.3, 0.3, 0.3);\n\nhT = MAIN.camHookGo.transform.position;\nhR = MAIN.camHookGo.transform.rotation;\nhS = [1, 1, 1];\n\n\nif(chartGo !=null){\n    RT.Unity.SetParent(chartGo, parent);\n    //var T = [1.3, -0.3, 3];\n    //var R = [0, 0, 0, 0];\n    //var S = [6, 6, 6];\n    \n  \n    var T = [-0.4, 0.1, 3.5]; //for 0.05\n    var R = [0, 0, 0, 0];\n    var S = [7, 7, 7];\n    \n    /*var T = [-0.2, -0.1, 3]; //for only 1 big\n    var R = [0, 0, 0, 0];\n    var S = [10, 10, 10];*/\n     \n    /*var T = [0.7, -0.4, 3];\n    var R = [0, 0, 0, 0];\n    var S = [0.05, 0.05, 0.05];*/\n    \n    RT.Unity.SetPose(chartGo, T, R, S);\n    \n    MAIN_CreateLabel(\"Real Time Blood Pressure\", [0.5,1,0], [0,0,0,1], [0.001,0.001,0.001], chartGo, \"Real Time Blood Pressure\");\n    chartGo.GetComponent(importNamespace(\"Microsoft.MixedReality.Toolkit.Utilities.Solvers\").RadialView).enabled = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":480,"wires":[[]]},{"id":"6e84f122.4d1b","type":"function","z":"4eb77cb4.9f5d54","name":"allow manipulation","func":"var hT = null;\nvar hR = null;\nvar hS = null;\n\nvar chartGo = MAIN.UE.GameObject.Find(\"VIEW_temperature\");\nvar parent = MAIN.UE.GameObject.Find(\"ParentCube\");\n\nvar bc =MAIN.RR.Runtime.AddBoxCollider(chartGo);\nbc.size = new MAIN.UE.Vector3(0.3, 0.3, 0.3);\n\nhT = MAIN.camHookGo.transform.position;\nhR = MAIN.camHookGo.transform.rotation;\nhS = [1, 1, 1];\n\nif(chartGo !=null){\n    RT.Unity.SetParent(chartGo, parent);\n    //var T = [0.5, 0.5, 3]; for 0.1\n    //var R = [0, 0, 0, 0];\n    //var S = [6, 6, 6];\n    \n    var T = [0, -0.4, 3.5]; // for 0.05\n    var R = [0, 0, 0, 0];\n    var S = [7, 7, 7];\n    \n    \n    /*var T = [-0.2, -0.1, 3]; //for only 1 big\n    var R = [0, 0, 0, 0];\n    var S = [10, 10, 10];*/\n    \n    /*var T = [0.1, 0.2, 3];\n    var R = [0, 0, 0, 0];\n    var S = [0.05, 0.05, 0.05];*/\n    \n    RT.Unity.SetPose(chartGo, T, R, S);\n    \n    MAIN_CreateLabel(\"Real Time Body Temperature\", [0.5,1,0], [0,0,0,1], [0.001,0.001,0.001], chartGo, \"Real Time Body Temperature\");\n    chartGo.GetComponent(importNamespace(\"Microsoft.MixedReality.Toolkit.Utilities.Solvers\").RadialView).enabled = false;\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":540,"wires":[[]]},{"id":"d4c85db3.1001b","type":"function","z":"f0929c96.b058c","name":"allow manipulation","func":"var hT = null;\nvar hR = null;\nvar hS = null;\n\nvar chartGo = MAIN.UE.GameObject.Find(\"VIEW_Heart_Rate\");\nvar parent = MAIN.UE.GameObject.Find(\"ParentCube\");\nvar bc =MAIN.RR.Runtime.AddBoxCollider(chartGo);\nbc.size = new MAIN.UE.Vector3(0.3, 0.3, 0.3);\n\nhT = MAIN.camHookGo.transform.position;\nhR = MAIN.camHookGo.transform.rotation;\nhS = [1, 1, 1];\n\n\nif(chartGo !=null){\n    RT.Unity.SetParent(chartGo, parent);\n    //var T = [0.5, -0.3, 3];\n    //var R = [0, 0, 0, 0];\n    //var S = [6, 6, 6];\n    \n    var T = [-0.4, -0.4, 3.5];\n    var R = [0, 0, 0, 0];\n    var S = [7, 7, 7];\n    \n    /*var T = [-0.2, -0.1, 3]; //for only 1 big\n    var R = [0, 0, 0, 0];\n    var S = [10, 10, 10];*/\n    \n    /*var T = [0.1, -0.4, 3];\n    var R = [0, 0, 0, 0];\n    var S = [0.05, 0.05, 0.05];*/\n    \n    RT.Unity.SetPose(chartGo, T, R, S);\n    \n    MAIN_CreateLabel(\"Real Time Heart Rate\", [0.5,1,0], [0,0,0,1], [0.001,0.001,0.001], chartGo, \"Real Time Heart Rate\");\n    chartGo.GetComponent(importNamespace(\"Microsoft.MixedReality.Toolkit.Utilities.Solvers\").RadialView).enabled = false;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":560,"wires":[[]]},{"id":"e1acdb09.ad7d28","type":"function","z":"3581abdc.fa1414","name":"allow manipulation","func":"var hT = null;\nvar hR = null;\nvar hS = null;\n\nvar chartGo = MAIN.UE.GameObject.Find(\"VIEW_Oxygen_Rate\");\nvar parent = MAIN.UE.GameObject.Find(\"ParentCube\");\nvar bc =MAIN.RR.Runtime.AddBoxCollider(chartGo);\nbc.size = new MAIN.UE.Vector3(0.3, 0.3, 0.3);\n\nhT = MAIN.camHookGo.transform.position;\nhR = MAIN.camHookGo.transform.rotation;\nhS = [1, 1, 1];\n\n\nif(chartGo !=null){\n    RT.Unity.SetParent(chartGo, parent);\n    //var T = [1.3, 0.5, 3];\n    //var R = [0, 0, 0, 0];\n    //var S = [6, 6, 6];\n    \n    var T = [0, 0.1, 3.5];\n    var R = [0, 0, 0, 0];\n    var S = [7, 7, 7];\n    \n    /*var T = [-0.2, -0.1, 3]; //for only 1 big\n    var R = [0, 0, 0, 0];\n    var S = [10, 10, 10];*/\n     \n    /*var T = [0.7, 0.2, 3];\n    var R = [0, 0, 0, 0];\n    var S = [0.05, 0.05, 0.05];*/\n    \n    RT.Unity.SetPose(chartGo, T, R, S);\n    \n    MAIN_CreateLabel(\"Real Time Oxygen Rate\", [0.5,1,0], [0,0,0,1], [0.001,0.001,0.001], chartGo, \"Real Time Oxygen Rate\");\n    chartGo.GetComponent(importNamespace(\"Microsoft.MixedReality.Toolkit.Utilities.Solvers\").RadialView).enabled = false;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":560,"wires":[[]]},{"id":"e1c398f3.bf66c8","type":"rtds-create","z":"c380ca6a.8b37e8","rtdsName":"Barvalues Pressure","dimensionSize":"7","clientFunction":"RRJSIATK_RTDSCreate","x":270,"y":200,"wires":[["ea09dd6c.6c49"]]},{"id":"cb39c873.accb38","type":"rtds-set-insert-behavior","z":"c380ca6a.8b37e8","shiftdata":"1","clientFunction":"RRJSIATK_RTDSSetShiftdata","x":930,"y":200,"wires":[["dc063f23.ee2f1"]]},{"id":"5f4a0dd7.86f074","type":"view-builder","z":"c380ca6a.8b37e8","viewName":"","pointCount":"","meshTopology":5,"geometryType":"6","clientFunction":"RRJSIATK_ViewBuilder","x":430,"y":300,"wires":[["1dc47314.5234bd"]]},{"id":"1dc47314.5234bd","type":"set-view-data","z":"c380ca6a.8b37e8","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":590,"y":300,"wires":[["4ca7ab6a.3dc2c4"]]},{"id":"e5a6914e.6bf7","type":"function","z":"c380ca6a.8b37e8","name":"view setup","func":"msg.viewBuilder = {};\nmsg.viewBuilder.viewName = \"Bar_values_Pressure\";\nmsg.viewBuilder.pointCount = 14;\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.data = [];\nlet xData = [];\nlet yData = [];\nlet zData = [];\nlet colors = [];\nfor(let i = 0; i < msg.viewBuilder.pointCount; i++) {\n    xData.push(1 / (msg.viewBuilder.pointCount - 1) * i);\n    yData.push(0);\n    zData.push(0);\n    colors.push([118/255,  42/255, 131/255]);\n}\nmsg.view.data[CNRIF.ViewData.XPosition] = xData;\nmsg.view.data[CNRIF.ViewData.YPosition] = yData;\nmsg.view.data[CNRIF.ViewData.ZPosition] = zData;\nmsg.view.data[CNRIF.ViewData.Color] = colors;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":300,"wires":[["5f4a0dd7.86f074"]]},{"id":"4ca7ab6a.3dc2c4","type":"view-add-axes","z":"c380ca6a.8b37e8","axes":"x,y","clientFunction":"RRJSIATK_ViewAddAxes","x":760,"y":300,"wires":[["36998d3f.fb2d82"]]},{"id":"36998d3f.fb2d82","type":"view-set-axis-data","z":"c380ca6a.8b37e8","dataSource":"Barvalues Pressure","dimension":"Systolic_Diastolic (mmHg)","axes":"y","clientFunction":"RRJSIATK_ViewSetAxisData","x":950,"y":300,"wires":[["f8da776b.c73a78"]]},{"id":"d23bad50.39307","type":"view-set-axis-data","z":"c380ca6a.8b37e8","dataSource":"Barvalues Pressure","dimension":"Weekday","axes":"x","clientFunction":"RRJSIATK_ViewSetAxisData","x":1430,"y":300,"wires":[["dedd638b.3ba8f"]]},{"id":"a8f33098.f9d1f","type":"rtds-add-dimension-discrete","z":"c380ca6a.8b37e8","dimensionName":"Weekday","clientFunction":"RRJSIATK_RTDSAddDimensionDiscrete","x":680,"y":200,"wires":[["cb39c873.accb38"]]},{"id":"ab96b3a3.108f9","type":"inject","z":"c380ca6a.8b37e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":400,"wires":[["3018e606.0edfca"]]},{"id":"20f6df8e.4784d","type":"set-view-data","z":"c380ca6a.8b37e8","viewData":"5","clientFunction":"RRJSIATK_SetViewData","x":1020,"y":480,"wires":[["c91e6611.db0ed8"]]},{"id":"3018e606.0edfca","type":"rtds-get","z":"c380ca6a.8b37e8","rtdsName":"Barvalues Pressure","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":260,"y":400,"wires":[["22d65065.4decd","ef02bada.337f38"]]},{"id":"22d65065.4decd","type":"get-view","z":"c380ca6a.8b37e8","viewName":"Bar_values_Pressure","msgBehavior":"1","clientFunction":"RRJSIATK_GetView","x":240,"y":480,"wires":[["5cba6553.bc868c"]]},{"id":"a0c5eb64.75e2e8","type":"function","z":"c380ca6a.8b37e8","name":"","func":"if(msg.hasOwnProperty(\"view\"))\n{\n    var ar = [];\n    \n    for(var i1 = 0; i1 <  msg.rtdsData1.length; i1++){  ar.push(msg.rtdsData1[i1]) && ar.push(msg.rtdsData2[i1]); }\n    \n    msg.view.data = [];\n    msg.view.data[CNRIF.ViewData.YPosition] = ar;\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":480,"wires":[["20f6df8e.4784d"]]},{"id":"ef02bada.337f38","type":"rtds-get-data","z":"c380ca6a.8b37e8","dimensionName":"Weekday","location":"weekdays","clientFunction":"RRJSIATK_RTDSGetData","x":530,"y":400,"wires":[["50292c40.8c8b84"]]},{"id":"50292c40.8c8b84","type":"function","z":"c380ca6a.8b37e8","name":"","func":"msg.weekday = msg.weekdays[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":400,"wires":[["1dca2f46.a60211"]]},{"id":"1dca2f46.a60211","type":"rtds-set-data","z":"c380ca6a.8b37e8","dimensionName":"Weekday","context":"1","location":"weekday","clientFunction":"RRJSIATK_RTDSSetData","x":990,"y":400,"wires":[[]]},{"id":"dc063f23.ee2f1","type":"function","z":"c380ca6a.8b37e8","name":"Fill RTDS","func":"CNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Monday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Tuesday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Wednesday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Thursday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Friday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Saturday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Sunday\", 1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":200,"wires":[[]]},{"id":"c91e6611.db0ed8","type":"view-update-axis","z":"c380ca6a.8b37e8","axes":"x","clientFunction":"RRJSIATK_ViewUpdateAxis","x":1230,"y":480,"wires":[[]]},{"id":"36da7048.4d6d2","type":"inject","z":"c380ca6a.8b37e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":200,"wires":[["e1c398f3.bf66c8","e5a6914e.6bf7"]]},{"id":"a5a07cb5.22899","type":"function","z":"c380ca6a.8b37e8","name":"client filter","func":"try {\n    var n = MAIN.usercanvas;\n    return msg;\n} catch(err) {\n    return null;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":620,"wires":[["f159f05e.df21d"]]},{"id":"681aa5f7.59a67c","type":"function","z":"c380ca6a.8b37e8","name":"parse","func":"var data = JSON.parse(msg.payload);\nmsg.payload = {};\nmsg.payload.Systolic = data[0];\nmsg.payload.Diastolic = data[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":620,"wires":[["a5a07cb5.22899"]]},{"id":"ea09dd6c.6c49","type":"rtds-add-dimension","z":"c380ca6a.8b37e8","dimensionName":"Systolic_Diastolic (mmHg)","minValue":"50","maxValue":"200","dataType":1,"clientFunction":"RRJSIATK_RTDSAddDimension","x":450,"y":80,"wires":[["8361a07e.9e972"]]},{"id":"f159f05e.df21d","type":"rtds-get","z":"c380ca6a.8b37e8","rtdsName":"Barvalues Pressure","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":900,"y":620,"wires":[["7ff47791.87b368","da32f62d.1d2478"]]},{"id":"dedd638b.3ba8f","type":"function","z":"c380ca6a.8b37e8","name":"allow manipulation","func":"var hT = null;\nvar hR = null;\nvar hS = null;\n\nvar chartGo = MAIN.UE.GameObject.Find(\"VIEW_Bar_values_Pressure\");\nvar parent = MAIN.UE.GameObject.Find(\"ParentCube\");\nvar bc =MAIN.RR.Runtime.AddBoxCollider(chartGo);\nbc.size = new MAIN.UE.Vector3(0.3, 0.3, 0.3);\n\nhT = MAIN.camHookGo.transform.position;\nhR = MAIN.camHookGo.transform.rotation;\nhS = [1, 1, 1];\n\n\nif(chartGo !=null){\n    RT.Unity.SetParent(chartGo, parent);\n    //var T = [-1.1, -0.3, 3 ];\n    //var R = [0, 0, 0, 0];\n    //var S = [6, 6, 6];\n    \n    var T = [-0.8, -0.4, 3.5 ];\n    var R = [0, 0, 0, 0];\n    var S = [7, 7, 7];\n     \n     /*var T = [-1.3, -0.4, 3 ];\n    var R = [0, 0, 0, 0];\n     var S = [0.05, 0.05, 0.05];*/\n    \n    RT.Unity.SetPose(chartGo, T, R, S);\n    \n   MAIN_CreateLabel(\"Weekly Blood Pressure\", [0.5,1,0], [0,0,0,1], [0.001,0.001,0.001], chartGo, \"Weekly Blood Pressure\");\n   chartGo.GetComponent(importNamespace(\"Microsoft.MixedReality.Toolkit.Utilities.Solvers\").RadialView).enabled = false;\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1650,"y":300,"wires":[[]]},{"id":"c7b6f3.4fffa91","type":"mqtt in","z":"c380ca6a.8b37e8","name":"","topic":"telemetry/Bardata/Vis/Hospital/Patient/Vital/BloodPressure","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":230,"y":620,"wires":[["681aa5f7.59a67c"]]},{"id":"8361a07e.9e972","type":"rtds-add-dimension","z":"c380ca6a.8b37e8","dimensionName":"Diastolic_Systolic (mmHg)","minValue":"50","maxValue":"200","dataType":1,"clientFunction":"RRJSIATK_RTDSAddDimension","x":490,"y":140,"wires":[["a8f33098.f9d1f"]]},{"id":"f8da776b.c73a78","type":"view-set-axis-data","z":"c380ca6a.8b37e8","dataSource":"Barvalues Pressure","dimension":"Diastolic_Systolic (mmHg)","axes":"y","clientFunction":"RRJSIATK_ViewSetAxisData","x":1190,"y":300,"wires":[["d23bad50.39307"]]},{"id":"7ff47791.87b368","type":"rtds-set-data","z":"c380ca6a.8b37e8","dimensionName":"Systolic_Diastolic (mmHg)","context":0,"location":"payload.Systolic","clientFunction":"RRJSIATK_RTDSSetData","x":1090,"y":560,"wires":[[]]},{"id":"da32f62d.1d2478","type":"rtds-set-data","z":"c380ca6a.8b37e8","dimensionName":"Diastolic_Systolic (mmHg)","context":0,"location":"payload.Diastolic","clientFunction":"RRJSIATK_RTDSSetData","x":1090,"y":660,"wires":[[]]},{"id":"5cba6553.bc868c","type":"rtds-get-data","z":"c380ca6a.8b37e8","dimensionName":"Systolic_Diastolic (mmHg)","location":"rtdsData1","clientFunction":"RRJSIATK_RTDSGetData","x":450,"y":480,"wires":[["fd8a27ca.50fe48"]]},{"id":"fd8a27ca.50fe48","type":"rtds-get-data","z":"c380ca6a.8b37e8","dimensionName":"Diastolic_Systolic (mmHg)","location":"rtdsData2","clientFunction":"RRJSIATK_RTDSGetData","x":630,"y":480,"wires":[["a0c5eb64.75e2e8"]]},{"id":"885b07d9.8bde08","type":"rtds-create","z":"5fa77fc.beca38","rtdsName":"Barvalues Oxygen","dimensionSize":"7","clientFunction":"RRJSIATK_RTDSCreate","x":310,"y":200,"wires":[["e7874b5.69ba5b8"]]},{"id":"f92fdce9.24a49","type":"rtds-set-insert-behavior","z":"5fa77fc.beca38","shiftdata":"1","clientFunction":"RRJSIATK_RTDSSetShiftdata","x":970,"y":200,"wires":[["c4a26d1f.6b742"]]},{"id":"b8814394.32bf","type":"view-builder","z":"5fa77fc.beca38","viewName":"","pointCount":"","meshTopology":5,"geometryType":"6","clientFunction":"RRJSIATK_ViewBuilder","x":470,"y":300,"wires":[["c7383d0d.65ccd"]]},{"id":"c7383d0d.65ccd","type":"set-view-data","z":"5fa77fc.beca38","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":630,"y":300,"wires":[["41061963.0243a8"]]},{"id":"371ff892.1653c8","type":"function","z":"5fa77fc.beca38","name":"view setup","func":"msg.viewBuilder = {};\nmsg.viewBuilder.viewName = \"Bar_values_Oxygen\";\nmsg.viewBuilder.pointCount = 7;\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.data = [];\nlet xData = [];\nlet yData = [];\nlet zData = [];\nlet colors = [];\nfor(let i = 0; i < msg.viewBuilder.pointCount; i++) {\n    xData.push(1 / (msg.viewBuilder.pointCount - 1) * i);\n    yData.push(0);\n    zData.push(0);\n    colors.push([219/255,  109/255, 0/255]);\n}\nmsg.view.data[CNRIF.ViewData.XPosition] = xData;\nmsg.view.data[CNRIF.ViewData.YPosition] = yData;\nmsg.view.data[CNRIF.ViewData.ZPosition] = zData;\nmsg.view.data[CNRIF.ViewData.Color] = colors;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":300,"wires":[["b8814394.32bf"]]},{"id":"41061963.0243a8","type":"view-add-axes","z":"5fa77fc.beca38","axes":"x,y","clientFunction":"RRJSIATK_ViewAddAxes","x":800,"y":300,"wires":[["e2da3f29.a4f14"]]},{"id":"e2da3f29.a4f14","type":"view-set-axis-data","z":"5fa77fc.beca38","dataSource":"Barvalues Oxygen","dimension":"Oxygen_Rate (%)","axes":"y","clientFunction":"RRJSIATK_ViewSetAxisData","x":990,"y":300,"wires":[["a5d7160c.70ec08"]]},{"id":"a5d7160c.70ec08","type":"view-set-axis-data","z":"5fa77fc.beca38","dataSource":"Barvalues Oxygen","dimension":"Weekday","axes":"x","clientFunction":"RRJSIATK_ViewSetAxisData","x":1190,"y":300,"wires":[["3ab96905.2fd9e6"]]},{"id":"5708e85.f597818","type":"rtds-add-dimension-discrete","z":"5fa77fc.beca38","dimensionName":"Weekday","clientFunction":"RRJSIATK_RTDSAddDimensionDiscrete","x":720,"y":200,"wires":[["f92fdce9.24a49"]]},{"id":"a090ca00.cd74e8","type":"inject","z":"5fa77fc.beca38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":400,"wires":[["f1a63edd.527e6"]]},{"id":"d6a95ee6.bbe81","type":"rtds-get-data","z":"5fa77fc.beca38","dimensionName":"Oxygen_Rate (%)","location":"rtdsData","clientFunction":"RRJSIATK_RTDSGetData","x":450,"y":480,"wires":[["a3531649.b0ad58"]]},{"id":"bfbd3d93.49677","type":"rtds-set-data","z":"5fa77fc.beca38","dimensionName":"Oxygen_Rate (%)","context":"0","location":"payload.OxygenRate","clientFunction":"RRJSIATK_RTDSSetData","x":1110,"y":580,"wires":[[]]},{"id":"20b95e94.395922","type":"set-view-data","z":"5fa77fc.beca38","viewData":"5","clientFunction":"RRJSIATK_SetViewData","x":840,"y":480,"wires":[["8755bc1e.5e6b2"]]},{"id":"f1a63edd.527e6","type":"rtds-get","z":"5fa77fc.beca38","rtdsName":"Barvalues Oxygen","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":300,"y":400,"wires":[["765f6b4f.0a67f4","8019fcaa.abbc"]]},{"id":"765f6b4f.0a67f4","type":"get-view","z":"5fa77fc.beca38","viewName":"Bar_values_Oxygen","msgBehavior":"1","clientFunction":"RRJSIATK_GetView","x":260,"y":480,"wires":[["d6a95ee6.bbe81"]]},{"id":"a3531649.b0ad58","type":"function","z":"5fa77fc.beca38","name":"","func":"/*msg.view.data = [];\nmsg.view.data[CNRIF.ViewData.YPosition] = msg.rtdsData;\nreturn msg;*/\n\nif(msg.hasOwnProperty(\"view\"))\n{\n    var ar = [];\n    \n    for(var i1 = 0; i1 <  msg.rtdsData.length; i1++){ ar.push(msg.rtdsData[i1]);}\n    \n    msg.view.data = [];\n    msg.view.data[CNRIF.ViewData.YPosition] = ar;\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":480,"wires":[["20b95e94.395922"]]},{"id":"8019fcaa.abbc","type":"rtds-get-data","z":"5fa77fc.beca38","dimensionName":"Weekday","location":"weekdays","clientFunction":"RRJSIATK_RTDSGetData","x":570,"y":400,"wires":[["63f364b.e55b19c"]]},{"id":"63f364b.e55b19c","type":"function","z":"5fa77fc.beca38","name":"","func":"msg.weekday = msg.weekdays[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":400,"wires":[["4d057596.faf34c"]]},{"id":"4d057596.faf34c","type":"rtds-set-data","z":"5fa77fc.beca38","dimensionName":"Weekday","context":"1","location":"weekday","clientFunction":"RRJSIATK_RTDSSetData","x":1030,"y":400,"wires":[[]]},{"id":"c4a26d1f.6b742","type":"function","z":"5fa77fc.beca38","name":"Fill RTDS","func":"CNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Monday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Tuesday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Wednesday\", 1 );\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Thursday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Friday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Saturday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Sunday\", 1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":200,"wires":[[]]},{"id":"8755bc1e.5e6b2","type":"view-update-axis","z":"5fa77fc.beca38","axes":"x","clientFunction":"RRJSIATK_ViewUpdateAxis","x":1070,"y":480,"wires":[[]]},{"id":"6cb21a5f.1f22e4","type":"inject","z":"5fa77fc.beca38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":200,"wires":[["885b07d9.8bde08","371ff892.1653c8"]]},{"id":"9681f0fb.35c4b","type":"function","z":"5fa77fc.beca38","name":"client filter","func":"try {\n    var n = MAIN.usercanvas;\n    return msg;\n} catch(err) {\n    return null;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":580,"wires":[["b6f40876.e80328"]]},{"id":"d787065b.919c78","type":"function","z":"5fa77fc.beca38","name":"parse","func":"var data = JSON.parse(msg.payload);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":580,"wires":[["9681f0fb.35c4b"]]},{"id":"e7874b5.69ba5b8","type":"rtds-add-dimension","z":"5fa77fc.beca38","dimensionName":"Oxygen_Rate (%)","minValue":"80","maxValue":"100","dataType":1,"clientFunction":"RRJSIATK_RTDSAddDimension","x":490,"y":200,"wires":[["5708e85.f597818"]]},{"id":"b6f40876.e80328","type":"rtds-get","z":"5fa77fc.beca38","rtdsName":"Barvalues Oxygen","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":900,"y":580,"wires":[["bfbd3d93.49677"]]},{"id":"3ab96905.2fd9e6","type":"function","z":"5fa77fc.beca38","name":"allow manipulation","func":"var hT = null;\nvar hR = null;\nvar hS = null;\n\nvar chartGo = MAIN.UE.GameObject.Find(\"VIEW_Bar_values_Oxygen\");\nvar parent = MAIN.UE.GameObject.Find(\"ParentCube\");\nvar bc =MAIN.RR.Runtime.AddBoxCollider(chartGo);\nbc.size = new MAIN.UE.Vector3(0.3, 0.3, 0.3);\n\nhT = MAIN.camHookGo.transform.position;\nhR = MAIN.camHookGo.transform.rotation;\nhS = [1, 1, 1];\n\n\nif(chartGo !=null){\n    RT.Unity.SetParent(chartGo, parent);\n    //var T = [-1.1, 0.5, 3]; for 0.1\n    //var R = [0, 0, 0, 0];\n    //var S = [6, 6, 6];\n    \n    var T = [-0.8, 0.2, 3.5];\n    var R = [0, 0, 0, 0];\n    var S = [7, 7, 7];\n    \n    //var T = [-1.3, 0.2, 3];\n    //var R = [0, 0, 0, 0];\n    //var S = [0.05, 0.05, 0.05];\n    \n    RT.Unity.SetPose(chartGo, T, R, S);\n    \n    MAIN_CreateLabel(\"Weekly Oxygen Rate\", [0.5,1,0], [0,0,0,1], [0.001,0.001,0.001], chartGo, \"Weekly Oxygen Rate\");\n    chartGo.GetComponent(importNamespace(\"Microsoft.MixedReality.Toolkit.Utilities.Solvers\").RadialView).enabled = false;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":300,"wires":[[]]},{"id":"f268aefc.58aa9","type":"mqtt in","z":"5fa77fc.beca38","name":"","topic":"telemetry/Bardata/Vis/Hospital/Patient/Vital/OxygenRate","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":240,"y":580,"wires":[["d787065b.919c78"]]},{"id":"d463721c.9d1c2","type":"rtds-create","z":"9ffe13cc.5f112","rtdsName":"Barvalues HeartRate","dimensionSize":"7","clientFunction":"RRJSIATK_RTDSCreate","x":310,"y":240,"wires":[["56bb11e3.2f3be"]]},{"id":"b920b943.1d6be8","type":"rtds-set-insert-behavior","z":"9ffe13cc.5f112","shiftdata":"1","clientFunction":"RRJSIATK_RTDSSetShiftdata","x":970,"y":240,"wires":[["219e89d3.26c036"]]},{"id":"fc696722.58cc78","type":"view-builder","z":"9ffe13cc.5f112","viewName":"","pointCount":"","meshTopology":5,"geometryType":"6","clientFunction":"RRJSIATK_ViewBuilder","x":470,"y":340,"wires":[["77cb3265.8dd1fc"]]},{"id":"77cb3265.8dd1fc","type":"set-view-data","z":"9ffe13cc.5f112","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":630,"y":340,"wires":[["a18a0efb.c09bc"]]},{"id":"abf04040.f8b15","type":"function","z":"9ffe13cc.5f112","name":"view setup","func":"msg.viewBuilder = {};\nmsg.viewBuilder.viewName = \"Bar_values_HeartRate\";\nmsg.viewBuilder.pointCount = 7;\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.data = [];\nlet xData = [];\nlet yData = [];\nlet zData = [];\nlet colors = [];\nfor(let i = 0; i < msg.viewBuilder.pointCount; i++) {\n    xData.push(1 / (msg.viewBuilder.pointCount - 1) * i);\n    yData.push(0);\n    zData.push(0);\n    colors.push([36/255, 255/255, 36/255]);\n}\nmsg.view.data[CNRIF.ViewData.XPosition] = xData;\nmsg.view.data[CNRIF.ViewData.YPosition] = yData;\nmsg.view.data[CNRIF.ViewData.ZPosition] = zData;\nmsg.view.data[CNRIF.ViewData.Color] = colors;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":340,"wires":[["fc696722.58cc78"]]},{"id":"a18a0efb.c09bc","type":"view-add-axes","z":"9ffe13cc.5f112","axes":"x,y","clientFunction":"RRJSIATK_ViewAddAxes","x":800,"y":340,"wires":[["f3e963f3.32675"]]},{"id":"f3e963f3.32675","type":"view-set-axis-data","z":"9ffe13cc.5f112","dataSource":"Barvalues HeartRate","dimension":"Heart_Rate (bpm)","axes":"y","clientFunction":"RRJSIATK_ViewSetAxisData","x":990,"y":340,"wires":[["96519388.cf5d8"]]},{"id":"96519388.cf5d8","type":"view-set-axis-data","z":"9ffe13cc.5f112","dataSource":"Barvalues HeartRate","dimension":"Weekday","axes":"x","clientFunction":"RRJSIATK_ViewSetAxisData","x":1190,"y":340,"wires":[["7fbe6820.f49e58"]]},{"id":"a2d1af8f.30086","type":"rtds-add-dimension-discrete","z":"9ffe13cc.5f112","dimensionName":"Weekday","clientFunction":"RRJSIATK_RTDSAddDimensionDiscrete","x":720,"y":240,"wires":[["b920b943.1d6be8"]]},{"id":"79eef29b.63baec","type":"inject","z":"9ffe13cc.5f112","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":440,"wires":[["87e2ef11.b6399"]]},{"id":"f9a0f245.45e4b","type":"rtds-get-data","z":"9ffe13cc.5f112","dimensionName":"Heart_Rate (bpm)","location":"rtdsData","clientFunction":"RRJSIATK_RTDSGetData","x":490,"y":520,"wires":[["3c729aae.d9e346"]]},{"id":"9b901.8fe9c6ff8","type":"rtds-set-data","z":"9ffe13cc.5f112","dimensionName":"Heart_Rate (bpm)","context":"0","location":"payload.HeartRate","clientFunction":"RRJSIATK_RTDSSetData","x":1110,"y":600,"wires":[[]]},{"id":"f745fee.ab5c9","type":"set-view-data","z":"9ffe13cc.5f112","viewData":"5","clientFunction":"RRJSIATK_SetViewData","x":900,"y":520,"wires":[["e21a266c.9c4548"]]},{"id":"87e2ef11.b6399","type":"rtds-get","z":"9ffe13cc.5f112","rtdsName":"Barvalues HeartRate","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":300,"y":440,"wires":[["ec9b6ac8.2ea148","98367892.278a98"]]},{"id":"ec9b6ac8.2ea148","type":"get-view","z":"9ffe13cc.5f112","viewName":"Bar_values_HeartRate","msgBehavior":"1","clientFunction":"RRJSIATK_GetView","x":280,"y":520,"wires":[["f9a0f245.45e4b"]]},{"id":"3c729aae.d9e346","type":"function","z":"9ffe13cc.5f112","name":"","func":"if(msg.hasOwnProperty(\"view\"))\n{\n    var ar = [];\n    \n    for(var i1 = 0; i1 <  msg.rtdsData.length; i1++){ ar.push(msg.rtdsData[i1]);}\n    \n    msg.view.data = [];\n    msg.view.data[CNRIF.ViewData.YPosition] = ar;\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":520,"wires":[["f745fee.ab5c9"]]},{"id":"98367892.278a98","type":"rtds-get-data","z":"9ffe13cc.5f112","dimensionName":"Weekday","location":"weekdays","clientFunction":"RRJSIATK_RTDSGetData","x":570,"y":440,"wires":[["71747baa.f022a4"]]},{"id":"71747baa.f022a4","type":"function","z":"9ffe13cc.5f112","name":"","func":"msg.weekday = msg.weekdays[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":440,"wires":[["f5bbea1a.048f78"]]},{"id":"f5bbea1a.048f78","type":"rtds-set-data","z":"9ffe13cc.5f112","dimensionName":"Weekday","context":"1","location":"weekday","clientFunction":"RRJSIATK_RTDSSetData","x":1030,"y":440,"wires":[[]]},{"id":"219e89d3.26c036","type":"function","z":"9ffe13cc.5f112","name":"Fill RTDS","func":"CNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Monday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Tuesday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Wednesday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Thursday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Friday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Saturday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Sunday\", 1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":240,"wires":[[]]},{"id":"e21a266c.9c4548","type":"view-update-axis","z":"9ffe13cc.5f112","axes":"x","clientFunction":"RRJSIATK_ViewUpdateAxis","x":1130,"y":520,"wires":[[]]},{"id":"73acdb60.dc7d64","type":"inject","z":"9ffe13cc.5f112","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":240,"wires":[["d463721c.9d1c2","abf04040.f8b15"]]},{"id":"fd5ce6d9.d74938","type":"function","z":"9ffe13cc.5f112","name":"client filter","func":"try {\n    var n = MAIN.usercanvas;\n    return msg;\n} catch(err) {\n    return null;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":600,"wires":[["393f606b.09111"]]},{"id":"5aa55fa9.4fa54","type":"function","z":"9ffe13cc.5f112","name":"parse","func":"var data = JSON.parse(msg.payload);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":600,"wires":[["fd5ce6d9.d74938"]]},{"id":"56bb11e3.2f3be","type":"rtds-add-dimension","z":"9ffe13cc.5f112","dimensionName":"Heart_Rate (bpm)","minValue":"40","maxValue":"150","dataType":1,"clientFunction":"RRJSIATK_RTDSAddDimension","x":490,"y":240,"wires":[["a2d1af8f.30086"]]},{"id":"393f606b.09111","type":"rtds-get","z":"9ffe13cc.5f112","rtdsName":"Barvalues HeartRate","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":900,"y":600,"wires":[["9b901.8fe9c6ff8"]]},{"id":"7fbe6820.f49e58","type":"function","z":"9ffe13cc.5f112","name":"allow manipulation","func":"var hT = null;\nvar hR = null;\nvar hS = null;\n\nvar chartGo = MAIN.UE.GameObject.Find(\"VIEW_Bar_values_HeartRate\");\nvar parent = MAIN.UE.GameObject.Find(\"ParentCube\");\nvar bc =MAIN.RR.Runtime.AddBoxCollider(chartGo);\nbc.size = new MAIN.UE.Vector3(0.3, 0.3, 0.3);\n\nhT = MAIN.camHookGo.transform.position;\nhR = MAIN.camHookGo.transform.rotation;\nhS = [1, 1, 1];\n\n\nif(chartGo !=null){\n    RT.Unity.SetParent(chartGo, parent);\n    //var T = [-0.3, -0.3, 3];\n    //var R = [0, 0, 0, 0];\n    //var S = [6, 6, 6];\n    \n    var T = [-0.4, -0.4, 3.5];\n    var R = [0, 0, 0, 0];\n    var S = [7, 7, 7];\n     \n    /*var T = [-0.6, -0.4, 3];\n    var R = [0, 0, 0, 0];\n    var S = [0.05, 0.05, 0.05];*/\n    \n    RT.Unity.SetPose(chartGo, T, R, S);\n    \n    MAIN_CreateLabel(\"Weekly Heart Rate\", [0.5,1,0], [0,0,0,1], [0.001,0.001,0.001], chartGo, \"Weekly Heart Rate\");\n    chartGo.GetComponent(importNamespace(\"Microsoft.MixedReality.Toolkit.Utilities.Solvers\").RadialView).enabled = false;\n    //tagAlongParent.AddComponent(importNamespace(\"Microsoft.MixedReality.Toolkit.Utilities.Solvers\").RadialView);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1470,"y":340,"wires":[[]]},{"id":"4c93d340.f2689c","type":"mqtt in","z":"9ffe13cc.5f112","name":"","topic":"telemetry/Bardata/Vis/Hospital/Patient/Vital/HeartRate","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":220,"y":600,"wires":[["5aa55fa9.4fa54"]]},{"id":"b5f1464c.869158","type":"inject","z":"b4a1401b.0113a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":550,"y":100,"wires":[["f9c81209.4ea98"]]},{"id":"fcfa1dca.58d1c","type":"debug","z":"b4a1401b.0113a","name":"$$$ Init completed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1800,"y":940,"wires":[]},{"id":"f9c81209.4ea98","type":"function","z":"b4a1401b.0113a","name":"pre init MAIN.vis","func":"MAIN.tempvis = null;\nMAIN.rttempvis = null;\n\nMAIN.pressvis = null;\nMAIN.rtpressvis = null;\n\nMAIN.heartvis = null;\nMAIN.rtheartvis = null;\n\nMAIN.oxyvis = null;\nMAIN.rtoxyvis = null;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":100,"wires":[[]]},{"id":"725baaec.d1aca4","type":"ui_button","z":"b4a1401b.0113a","name":"","group":"6531107d.0ad47","order":5,"width":0,"height":0,"passthru":false,"label":"Blood Pressure","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":480,"y":260,"wires":[["55e5433d.fcc63c"]]},{"id":"3bc37d6e.453bd2","type":"function","z":"b4a1401b.0113a","name":"load RT  Body Temp","func":"CNR_InitFromId('4eb77cb4.9f5d54');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":720,"wires":[["a24749a1.902308"]]},{"id":"7c741ff7.edf0c","type":"function","z":"b4a1401b.0113a","name":"init vis / ref","func":"/*MAIN.rttempvis = MAIN.UE.GameObject.Find(\"VIEW_temperature\");\nif(MAIN.rttempvis == null) {\nnode.send([msg, null]);\n} else {\n    node.send([null,msg]);\n}\n\nreturn null;*/\n\nif(MAIN.tempvis == null) {\n    MAIN.tempvis = MAIN.UE.GameObject.Find(\"VIEW_Bar_values_Temp\");\n    MAIN.rttempvis = MAIN.UE.GameObject.Find(\"VIEW_temperature\");\n    if(MAIN.tempvis == null) {\n        node.send([msg, null]);\n    } else {\n    node.send([null, msg]);\n    }\n} else {\n    node.send([null,msg]);\n}\n\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":740,"wires":[["3bc37d6e.453bd2"],["9cffec62.1b2"]]},{"id":"9cffec62.1b2","type":"function","z":"b4a1401b.0113a","name":"toggle vis","func":"if(MAIN.rttempvis != null && MAIN.tempvis != null) {\n    MAIN.rttempvis.SetActive(!MAIN.rttempvis.activeSelf);\n    MAIN.tempvis.SetActive(!MAIN.tempvis.activeSelf);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":780,"wires":[[]]},{"id":"55e5433d.fcc63c","type":"function","z":"b4a1401b.0113a","name":"init vis / ref","func":"/*if(MAIN.pressvis == null) {\n    MAIN.pressvis = MAIN.UE.GameObject.Find(\"VIEW_Bar_values_Pressure\");\n    MAIN.rtpressvis = MAIN.UE.GameObject.Find(\"VIEW_Blood_Pressure\");\n    if(MAIN.pressvis == null) {\n        node.send([msg, null]);\n    } else {\n    node.send([null, msg]);\n    }\n} else {\n    node.send([null,msg]);\n}\n\nreturn null;*/\n\n\n\nMAIN.rtpressvis = MAIN.UE.GameObject.Find(\"VIEW_Blood_Pressure\");\nif(MAIN.rtpressvis == null) {\nnode.send([msg, null]);\n} else {\n    node.send([null,msg]);\n}\n\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":260,"wires":[["333abe6c.432702"],["54f45180.6ad83"]]},{"id":"54f45180.6ad83","type":"function","z":"b4a1401b.0113a","name":"toggle vis","func":"/*if(MAIN.pressvis != null && MAIN.rtpressvis != null) {\n    MAIN.pressvis.SetActive(!MAIN.pressvis.activeSelf);\n    MAIN.rtpressvis.SetActive(!MAIN.rtpressvis.activeSelf);\n}\nreturn msg;*/\n\nif(MAIN.rtpressvis != null) {\n    MAIN.rtpressvis.SetActive(!MAIN.rtpressvis.activeSelf);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":280,"wires":[[]]},{"id":"333abe6c.432702","type":"function","z":"b4a1401b.0113a","name":"load RT Blood Pressure","func":"CNR_InitFromId('14ffecb4.b21283');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":220,"wires":[[]]},{"id":"6ef7e2bf.591d6c","type":"function","z":"b4a1401b.0113a","name":"init vis / ref","func":"MAIN.rtoxyvis = MAIN.UE.GameObject.Find(\"VIEW_Oxygen_Rate\");\nif(MAIN.rtoxyvis == null) {\nnode.send([msg, null]);\n} else {\n    node.send([null,msg]);\n}\n\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":580,"wires":[["6ae3edf.5027914"],["989b5a6a.0ecea8"]]},{"id":"989b5a6a.0ecea8","type":"function","z":"b4a1401b.0113a","name":"toggle vis","func":"if(MAIN.rtoxyvis != null) {\n    MAIN.rtoxyvis.SetActive(!MAIN.rtoxyvis.activeSelf);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":600,"wires":[[]]},{"id":"821fe6e9.642a68","type":"function","z":"b4a1401b.0113a","name":"init vis / ref","func":"MAIN.rtheartvis = MAIN.UE.GameObject.Find(\"VIEW_Heart_Rate\");\nif(MAIN.rtheartvis == null) {\nnode.send([msg, null]);\n} else {\n    node.send([null,msg]);\n}\n\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":420,"wires":[["2ec4ce0b.230e52"],["e066a5f5.e3c178"]]},{"id":"e066a5f5.e3c178","type":"function","z":"b4a1401b.0113a","name":"toggle vis","func":"if(MAIN.rtheartvis != null) {\n    MAIN.rtheartvis.SetActive(!MAIN.rtheartvis.activeSelf);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":440,"wires":[[]]},{"id":"624d5c97.5a7944","type":"function","z":"b4a1401b.0113a","name":"init vis / ref","func":"if(MAIN.tempvis == null) {\n    MAIN.pressvis = MAIN.UE.GameObject.Find(\"VIEW_Bar_values_Pressure\");\n    \n    MAIN.heartvis = MAIN.UE.GameObject.Find(\"VIEW_Bar_values_HeartRate\");\n    \n    MAIN.oxyvis = MAIN.UE.GameObject.Find(\"VIEW_Bar_values_Oxygen\");\n    \n    MAIN.tempvis = MAIN.UE.GameObject.Find(\"VIEW_Bar_values_Temp\");\n    \n    if(MAIN.tempvis == null) {\n        node.send([msg, null]);\n    } else {\n    node.send([null, msg]);\n    }\n} else {\n    node.send([null,msg]);\n}\n\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":1180,"wires":[["2efe3c32.2dbe04"],["7e1595e4.185cbc"]]},{"id":"7e1595e4.185cbc","type":"function","z":"b4a1401b.0113a","name":"toggle vis","func":"if(MAIN.pressvis != null \n    && MAIN.heartvis != null \n    && MAIN.oxyvis != null \n    && MAIN.tempvis != null ) {\n        \n    MAIN.pressvis.SetActive(!MAIN.pressvis.activeSelf);\n    MAIN.heartvis.SetActive(!MAIN.heartvis.activeSelf);\n    MAIN.oxyvis.SetActive(!MAIN.oxyvis.activeSelf);\n    MAIN.tempvis.SetActive(!MAIN.tempvis.activeSelf);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1280,"wires":[[]]},{"id":"e8359e1e.1b549","type":"function","z":"b4a1401b.0113a","name":"init vis / ref","func":"if(MAIN.rttempvis == null) {\n    MAIN.rtpressvis = MAIN.UE.GameObject.Find(\"VIEW_Blood_Pressure\");\n    \n    MAIN.rtheartvis = MAIN.UE.GameObject.Find(\"VIEW_Heart_Rate\");\n    \n    MAIN.rtoxyvis = MAIN.UE.GameObject.Find(\"VIEW_Oxygen_Rate\");\n    \n    MAIN.rttempvis = MAIN.UE.GameObject.Find(\"VIEW_temperature\");\n    \n    if(MAIN.rttempvis == null) {\n        node.send([msg, null]);\n    } else {\n    node.send([null, msg]);\n    }\n} else {\n    node.send([null,msg]);\n}\n\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":900,"wires":[["c832544.25ce1a8"],["c4721fd8.11e58"]]},{"id":"c4721fd8.11e58","type":"function","z":"b4a1401b.0113a","name":"toggle vis","func":"if(MAIN.rtpressvis != null \n    && MAIN.rtheartvis != null \n    && MAIN.rtoxyvis != null \n    && MAIN.rttempvis != null ) {\n        \n    MAIN.rtpressvis.SetActive(!MAIN.rtpressvis.activeSelf);\n    MAIN.rtheartvis.SetActive(!MAIN.rtheartvis.activeSelf);\n    MAIN.rtoxyvis.SetActive(!MAIN.rtoxyvis.activeSelf);\n    MAIN.rttempvis.SetActive(!MAIN.rttempvis.activeSelf);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1000,"wires":[[]]},{"id":"cefe870c.87b848","type":"inject","z":"75d9eb2e.e7a5c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":180,"wires":[["1543e55d.b465cb"]]},{"id":"1543e55d.b465cb","type":"function","z":"75d9eb2e.e7a5c4","name":"Weekly Heart Rate","func":"msg.payload=[{\n    \"series\": [\"Heart Rate\" ],\n    \"data\": [ [81, 82, 86, 79, 85, 88, 87] ],\n    \"labels\": [ \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\", \"Sunday\" ]\n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":180,"wires":[["363ba2d0.11283e","7f569606.94d068"]]},{"id":"363ba2d0.11283e","type":"ui_chart","z":"75d9eb2e.e7a5c4","name":"","group":"40337c72.0c52d4","order":22,"width":"12","height":"5","label":"Heart Rate (normal range: 60 - 100 bpm)","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#0b87e0","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":960,"y":180,"wires":[[]]},{"id":"7f569606.94d068","type":"debug","z":"75d9eb2e.e7a5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":100,"wires":[]},{"id":"69c06c85.7ac294","type":"inject","z":"75d9eb2e.e7a5c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":320,"wires":[["36dc8d87.2e6a92"]]},{"id":"36dc8d87.2e6a92","type":"function","z":"75d9eb2e.e7a5c4","name":"Weekly Oxygen Rate","func":"msg.payload=[{\n    \"series\": [\"Oxygen Rate\"],\n    \"data\": [ [96.2, 96.4, 97.1, 97.5, 97.9, 98.4, 98.2] ],\n    \"labels\": [ \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\", \"Sunday\" ]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":320,"wires":[["e5261d74.9081c","68ce0777.012e78"]]},{"id":"e5261d74.9081c","type":"ui_chart","z":"75d9eb2e.e7a5c4","name":"","group":"40337c72.0c52d4","order":22,"width":"12","height":"5","label":"Oxygen Rate (normal range: 80 - 100 % )","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"50","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1483d2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":980,"y":320,"wires":[[]]},{"id":"68ce0777.012e78","type":"debug","z":"75d9eb2e.e7a5c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":260,"wires":[]},{"id":"d60f8ab7.f99d28","type":"inject","z":"75d9eb2e.e7a5c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":460,"wires":[["cb856eea.bdf38"]]},{"id":"cb856eea.bdf38","type":"function","z":"75d9eb2e.e7a5c4","name":"Weekly Body Temperature","func":"msg.payload=[{\n    \"series\": [\"Body Temperature\" ],\n    \"data\": [ [36.2, 36.4, 36.4, 36.5, 36.8, 36.7, 37.0] ],\n    \"labels\": [ \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\", \"Sunday\" ]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":460,"wires":[["eed587e6.d00508","f231fdae.cfda6"]]},{"id":"eed587e6.d00508","type":"ui_chart","z":"75d9eb2e.e7a5c4","name":"","group":"40337c72.0c52d4","order":22,"width":"12","height":"5","label":"Temperature (normal range: 36.1°C - 37.2°C)","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"30","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1483d2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":990,"y":460,"wires":[[]]},{"id":"f231fdae.cfda6","type":"debug","z":"75d9eb2e.e7a5c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":400,"wires":[]},{"id":"a290e17d.469a1","type":"inject","z":"75d9eb2e.e7a5c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":600,"wires":[["f543114b.cf08b"]]},{"id":"f543114b.cf08b","type":"function","z":"75d9eb2e.e7a5c4","name":"Weekly Blood Pressure","func":"msg.payload=[{\n\n    \"series\": [\"BP Systolic\", \"BP Diastolic\"],\n    \"data\": [ [115, 113, 116, 115, 114, 116, 118] , [72, 78, 74, 74, 71, 68, 65] ],\n    \"labels\": [ \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\", \"Sunday\" ]\n    \n}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":600,"wires":[["8d5471b5.82003","15f5a8dc.aff267"]]},{"id":"8d5471b5.82003","type":"ui_chart","z":"75d9eb2e.e7a5c4","name":"","group":"40337c72.0c52d4","order":22,"width":"12","height":"8","label":"BP Systolic (normal range < 120 mmHg) BP Diastolic (normal range < 80 mmHg)","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1483d2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1100,"y":600,"wires":[[]]},{"id":"15f5a8dc.aff267","type":"debug","z":"75d9eb2e.e7a5c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":540,"wires":[]},{"id":"cabf70a4.730bc","type":"inject","z":"75d9eb2e.e7a5c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":740,"wires":[["e9d4b26d.52365"]]},{"id":"e9d4b26d.52365","type":"function","z":"75d9eb2e.e7a5c4","name":"Weekly Vitals","func":"msg.payload=[{\n    \"series\": [\"Heart Rate\", \"Oxygen Rate\", \"Body Temp\", \"BP Systolic\", \"BP Diastolic\" ],\n    \"data\": [ [81, 82, 86, 79, 85, 88, 87], [96.2, 96.4, 97.1, 97.5, 97.9, 98.4, 98.2], [36.2, 36.4, 36.4, 36.5, 36.8, 36.7, 37.0], [115, 113, 116, 115, 114, 116, 118], [ 72, 78, 74, 74, 71, 68, 65] ],\n    \"labels\": [ \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\", \"Sunday\" ]\n}];\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":740,"wires":[["786734b6.a168ac","75054dc9.f80254"]]},{"id":"786734b6.a168ac","type":"ui_chart","z":"75d9eb2e.e7a5c4","name":"","group":"40337c72.0c52d4","order":22,"width":"12","height":"5","label":"Weekly Vitals","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1483d2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":880,"y":740,"wires":[[]]},{"id":"75054dc9.f80254","type":"debug","z":"75d9eb2e.e7a5c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":680,"wires":[]},{"id":"8db34ba2.6799e8","type":"inject","z":"64577944.ba9848","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":220,"wires":[["5b305b3a.622454"]]},{"id":"5b305b3a.622454","type":"function","z":"64577944.ba9848","name":"Weekly Heart Rate","func":"msg.payload=[{\n    \"series\": [\"Heart Rate\" ],\n    \"data\": [ [95, 95, 92, 102, 101, 102, 103] ],\n    \"labels\": [ \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\", \"Sunday\", \"Monday\", \"Tuesday\" ]\n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":220,"wires":[["5b90fa7.6f2fc04","118d329e.f7054d"]]},{"id":"5b90fa7.6f2fc04","type":"ui_chart","z":"64577944.ba9848","name":"","group":"d110aad7.b32668","order":22,"width":"12","height":"5","label":"Heart Rate (normal range: 60 - 100 bpm)","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#0b87e0","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1030,"y":220,"wires":[[]]},{"id":"118d329e.f7054d","type":"debug","z":"64577944.ba9848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":140,"wires":[]},{"id":"f8eda5d9.ba3848","type":"inject","z":"64577944.ba9848","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":360,"wires":[["b3f6beb5.78c43"]]},{"id":"b3f6beb5.78c43","type":"function","z":"64577944.ba9848","name":"Weekly Oxygen Rate","func":"msg.payload=[{\n    \"series\": [\"Oxygen Rate\"],\n    \"data\": [ [80.2, 78.4, 81.1, 79.5, 77.9, 75.4, 74.2] ],\n    \"labels\": [ \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\", \"Sunday\", \"Monday\", \"Tuesday\" ]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":360,"wires":[["b8a895e7.aeadb8","7964fee4.fc3b6"]]},{"id":"b8a895e7.aeadb8","type":"ui_chart","z":"64577944.ba9848","name":"","group":"d110aad7.b32668","order":22,"width":"12","height":"5","label":"Oxygen Rate (normal range: 80 - 100 % )","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"50","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1483d2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1010,"y":360,"wires":[[]]},{"id":"7964fee4.fc3b6","type":"debug","z":"64577944.ba9848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":300,"wires":[]},{"id":"352651ea.9f8dce","type":"inject","z":"64577944.ba9848","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":500,"wires":[["e5470152.25c9e"]]},{"id":"e5470152.25c9e","type":"function","z":"64577944.ba9848","name":"Weekly Body Temperature","func":"msg.payload=[{\n    \"series\": [\"Body Temperature\" ],\n    \"data\": [ [36.8, 36.4, 36.9, 37.2, 37.1, 37.3, 37.2] ],\n    \"labels\": [ \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\", \"Sunday\", \"Monday\", \"Tuesday\" ]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":500,"wires":[["ee91e67d.f32ba8","aa483743.936338"]]},{"id":"ee91e67d.f32ba8","type":"ui_chart","z":"64577944.ba9848","name":"","group":"d110aad7.b32668","order":22,"width":"12","height":"6","label":"Temperature (normal range: 36.1°C - 37.2°C)","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"30","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1483d2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1020,"y":500,"wires":[[]]},{"id":"aa483743.936338","type":"debug","z":"64577944.ba9848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":440,"wires":[]},{"id":"23bde0cf.a4698","type":"inject","z":"64577944.ba9848","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":640,"wires":[["c5a73698.dfa488"]]},{"id":"c5a73698.dfa488","type":"function","z":"64577944.ba9848","name":"Weekly Blood Pressure","func":"msg.payload=[{\n    \"series\": [\"BP Systolic\", \"BP Diastolic\"],\n    \"data\": [ [115, 118, 116, 122, 121, 125, 124], [74, 78, 72, 83, 87, 84, 85]],\n    \"labels\": [ \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\", \"Sunday\", \"Monday\", \"Tuesday\"]\n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":640,"wires":[["58fdaf7e.75167","fa1d9ace.947d88"]]},{"id":"58fdaf7e.75167","type":"ui_chart","z":"64577944.ba9848","name":"","group":"d110aad7.b32668","order":22,"width":"12","height":"8","label":"BP Systolic (normal range < 120 mmHg) BP Diastolic (normal range < 80 mmHg)","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"120","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1483d2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1130,"y":640,"wires":[[]]},{"id":"fa1d9ace.947d88","type":"debug","z":"64577944.ba9848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":580,"wires":[]},{"id":"dd42f5f.5ac3108","type":"inject","z":"64577944.ba9848","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":780,"wires":[["ce84d072.cbb73"]]},{"id":"ce84d072.cbb73","type":"function","z":"64577944.ba9848","name":"Weekly Vitals","func":"msg.payload=[{\n    \"series\": [\"Heart Rate\", \"Oxygen Rate\", \"Body Temp\", \"BP Systolic\", \"BP Diastolic\" ],\n    //\"data\": [ [81, 96.2, 36.2, 115, 72], [82, 96.4, 36.4, 113, 78], [86, 97.1, 36.4, 116, 74], [79, 97.5, 36.5, 115, 74], [85, 97.9, 36.9, 114, 71], [88, 98.4, 36.7, 116, 68], [87, 98.2, 37.2, 118, 65] ],\n    \"data\": [ [95, 95, 92, 101, 100, 101, 103], [80.2, 78.4, 81.1, 79.5, 77.9, 75.4, 74.2], [36.8, 36.4, 36.9, 37.2, 37.1, 37.3, 37.2], [115, 118, 116, 122, 121, 125, 124], [74, 78, 72, 83, 87, 84, 85] ],\n    \"labels\": [ \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\", \"Sunday\", \"Monday\", \"Tuesday\" ]\n}];\n\n\n//var topic = \"telemetry/Historydata/Vis/Hospital/Patient/Vital/HeartRate\";\n//msg.topic = topic;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":780,"wires":[["af567cd8.5e6e5","aca1b59b.39b228"]]},{"id":"af567cd8.5e6e5","type":"ui_chart","z":"64577944.ba9848","name":"","group":"d110aad7.b32668","order":22,"width":"12","height":"5","label":"Weekly Vitals","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1483d2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":910,"y":780,"wires":[[]]},{"id":"aca1b59b.39b228","type":"debug","z":"64577944.ba9848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":720,"wires":[]},{"id":"a221fc86.85fb7","type":"inject","z":"619a5716.9b08b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":160,"wires":[["b5b14ae1.0a8308"]]},{"id":"278ab47.adba84c","type":"debug","z":"619a5716.9b08b8","name":"Raw msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":80,"wires":[]},{"id":"4efb6158.15b1d","type":"mqtt out","z":"619a5716.9b08b8","name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":1120,"y":200,"wires":[]},{"id":"a9aadf43.27676","type":"comment","z":"619a5716.9b08b8","name":"Body Temp","info":"","x":100,"y":160,"wires":[]},{"id":"b5b14ae1.0a8308","type":"function","z":"619a5716.9b08b8","name":"telemetry/CompData/CompVis/Hospital/Patient/Vital/Temp","func":"var sensor = {};\n\nvar Tempmax = 0;\nvar Tempmin = 0;\nTempmax = 37;\nTempmin = 36;\nvar v1 = Math.random() * (Tempmax - Tempmin) + Tempmin;\n\nsensor.temperature = v1;\n\nvar topic = \"telemetry/CompData/CompVis/Hospital/Patient/Vital/Temp\";\n\nmsg.topic = topic;\nmsg.payload = sensor;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":160,"wires":[["278ab47.adba84c","4efb6158.15b1d","a0898179.83ac7"]]},{"id":"a0898179.83ac7","type":"ui_gauge","z":"619a5716.9b08b8","name":"","group":"8a5dfa6b.024cc8","order":3,"width":0,"height":0,"gtype":"gage","title":"Body Temperature","label":"Degrees","format":"{{msg.payload.temperature}}","min":"30","max":"40","colors":["#b31200","#45e600","#ca3838"],"seg1":"37","seg2":"38","x":1130,"y":280,"wires":[]},{"id":"499b7ab9.fddba4","type":"inject","z":"619a5716.9b08b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":440,"wires":[["aea40ab2.b201b8"]]},{"id":"30db57b4.62d678","type":"debug","z":"619a5716.9b08b8","name":"Raw msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":360,"wires":[]},{"id":"e9ffcd49.c0f29","type":"ui_gauge","z":"619a5716.9b08b8","name":"","group":"8a5dfa6b.024cc8","order":3,"width":0,"height":0,"gtype":"gage","title":"Heart Rate","label":"Beats/min","format":"{{msg.payload.HeartRate}}","min":"40","max":"150","colors":["#b30c00","#3de600","#ca3838"],"seg1":"60","seg2":"100","x":1120,"y":580,"wires":[]},{"id":"f84e36be.a8a938","type":"mqtt out","z":"619a5716.9b08b8","name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":1120,"y":480,"wires":[]},{"id":"d1fb9b26.1f0688","type":"comment","z":"619a5716.9b08b8","name":"Heart Rate","info":"","x":80,"y":440,"wires":[]},{"id":"aea40ab2.b201b8","type":"function","z":"619a5716.9b08b8","name":"telemetry/CompData/CompVis/Hospital/Patient/Vital/HeartRate","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\nmax = 120;\nmin = 100;\n\nvar v1 = Math.round(Math.random() * (max - min) + min);\n\nsensor.HeartRate = v1;\n\nvar topic = \"telemetry/CompData/CompVis/Hospital/Patient/Vital/HeartRate\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":440,"wires":[["30db57b4.62d678","e9ffcd49.c0f29","f84e36be.a8a938"]]},{"id":"5a7df84a.ea2eb8","type":"inject","z":"619a5716.9b08b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":740,"wires":[["b03907fe.b0a108"]]},{"id":"21e513ab.57513c","type":"debug","z":"619a5716.9b08b8","name":"Raw msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":660,"wires":[]},{"id":"5f81d64d.418e08","type":"mqtt out","z":"619a5716.9b08b8","name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":1120,"y":780,"wires":[]},{"id":"10889b3d.7882c5","type":"comment","z":"619a5716.9b08b8","name":"Oxygen Rate","info":"","x":70,"y":740,"wires":[]},{"id":"b03907fe.b0a108","type":"function","z":"619a5716.9b08b8","name":"telemetry/CompData/CompVis/Hospital/Patient/Vital/OxygenRate","func":"\nvar sensor = {};\n\nvar max = 0;\nvar min = 0;\nmax = 75;\nmin = 68;\nvar v1 = Math.round(Math.random() * (max - min) + min);\n\nsensor.OxygenRate = v1;\n\nvar topic = \"telemetry/CompData/CompVis/Hospital/Patient/Vital/OxygenRate\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":740,"wires":[["21e513ab.57513c","5f81d64d.418e08","193da973.ff8dd7"]]},{"id":"193da973.ff8dd7","type":"ui_gauge","z":"619a5716.9b08b8","name":"","group":"8a5dfa6b.024cc8","order":3,"width":0,"height":0,"gtype":"gage","title":"Oxygen Rate","label":"percent","format":"{{msg.payload.OxygenRate}}","min":"80","max":"100","colors":["#b31b00","#f2eb07","#43cb3a"],"seg1":"88","seg2":"93","x":1110,"y":860,"wires":[]},{"id":"763cc5be.fa429c","type":"inject","z":"619a5716.9b08b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":1060,"wires":[["ff5ce352.8fefe"]]},{"id":"ac974d87.7f965","type":"debug","z":"619a5716.9b08b8","name":"Raw msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":980,"wires":[]},{"id":"6355e2b0.1d184c","type":"mqtt out","z":"619a5716.9b08b8","name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":1130,"y":1060,"wires":[]},{"id":"4d11086b.505048","type":"comment","z":"619a5716.9b08b8","name":"Blood Pressure","info":"","x":80,"y":1060,"wires":[]},{"id":"ff5ce352.8fefe","type":"function","z":"619a5716.9b08b8","name":"telemetry/CompData/CompVis/Hospital/Patient/Vital/BloodPressure","func":"var sensor = {};\n\nvar maxSystolic = 0;\nvar minSystolic = 0;\nvar maxDiastolic = 0;\nvar minDiastolic = 0;\n\nmaxSystolic = 129;\nminSystolic = 120;\nmaxDiastolic = 90;\nminDiastolic = 80;\n\nvar v1 = Math.round(Math.random() * (maxSystolic - minSystolic) + minSystolic);\nvar v2 = Math.round(Math.random() * (maxDiastolic - minDiastolic) + minDiastolic);\n\nsensor.SystolicBloodPressure = v1;\nsensor.DiastolicBloodPressure = v2;\n\n\nvar topic = \"telemetry/CompData/CompVis/Hospital/Patient/Vital/BloodPressure\";\n\nmsg.topic = topic;\nmsg.payload = [sensor.SystolicBloodPressure, sensor.DiastolicBloodPressure];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1060,"wires":[["ac974d87.7f965","6355e2b0.1d184c","d11070c6.ea755","e6900f91.d2861"]]},{"id":"d11070c6.ea755","type":"ui_gauge","z":"619a5716.9b08b8","name":"","group":"8a5dfa6b.024cc8","order":3,"width":0,"height":0,"gtype":"gage","title":"Systolic Blood Pressure","label":"mmHg","format":"{{msg.payload[0]}}","min":"110","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"120","seg2":"170","x":1310,"y":1140,"wires":[]},{"id":"e6900f91.d2861","type":"ui_gauge","z":"619a5716.9b08b8","name":"","group":"8a5dfa6b.024cc8","order":6,"width":0,"height":0,"gtype":"gage","title":"Diastolic Blood Pressure","label":"mmHg","format":"{{msg.payload[1]}}","min":"50","max":"150","colors":["#50b300","#e6e600","#ea1010"],"seg1":"80","seg2":"110","x":1330,"y":1240,"wires":[]},{"id":"593894a8.12fbdc","type":"mqtt in","z":"619a5716.9b08b8","name":"","topic":"telemetry/CompData/#","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":280,"y":1340,"wires":[["3e65de5b.7146f2"]]},{"id":"3e65de5b.7146f2","type":"function","z":"619a5716.9b08b8","name":"","func":"/*var barvalues = [97,97,95,94,95,96,99];\nmsg.payload = barvalues;\nreturn msg;\n\nvar barvalues = [97,97,95,94,95,96,99];\nmsg.payload = barvalues;\nmsg.topic = \"barvalues\";\nreturn msg;*/\n\ntry {\nvar flatten = global.get(\"flatten\");\n\nvar topic = msg.topic;\nvar retain = msg.retain;\nvar data = JSON.parse(msg.payload);\n\n\nvar data = flatten(data);\n\ntags = topic.split('/');\nvar Hospital = tags[0]+\"/\"+tags[1]+\"/\"+tags[2] + \"/\" + tags[3];\nvar Patient =  Hospital + \"/\" + tags[4];\nvar Vital = Patient + \"/\" + tags[5]\n\nvar valueName = Vital;\nif(tags.length >= 7) {\n valueName = Vital + \"/\" + tags[6]\n}\n\ntags.push(Hospital);\ntags.push(Patient);\ntags.push(Vital);\ntags.push(valueName);\n\nmsg.payload = [data, tags];\nmsg.measurement = Patient;\nreturn msg;\n\n} catch(err) {\n    return null;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":1340,"wires":[["98e7d9ff.dc5968","66a0a980.df59d8"]]},{"id":"98e7d9ff.dc5968","type":"debug","z":"619a5716.9b08b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":1420,"wires":[]},{"id":"66a0a980.df59d8","type":"influxdb out","z":"619a5716.9b08b8","influxdb":"1edda696.5c3d89","name":"","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":830,"y":1340,"wires":[]},{"id":"33179879.8b3ed8","type":"inject","z":"aa8e1000.ec6c3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":160,"wires":[["bc5aad9e.ccfb7"]]},{"id":"4fcbcfad.544a5","type":"debug","z":"aa8e1000.ec6c3","name":"Raw msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":80,"wires":[]},{"id":"ef4aca08.e26158","type":"mqtt out","z":"aa8e1000.ec6c3","name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":1100,"y":200,"wires":[]},{"id":"4d1c965a.266878","type":"comment","z":"aa8e1000.ec6c3","name":"Body Temp","info":"","x":100,"y":160,"wires":[]},{"id":"bc5aad9e.ccfb7","type":"function","z":"aa8e1000.ec6c3","name":"telemetry/CaseCData/Vis/Hospital/Patient/Vital/Temp","func":"var sensor = {};\n\nvar Tempmax = 0;\nvar Tempmin = 0;\nTempmax = 37.2;\nTempmin = 36.1;\n\n//Tempmax = 105;\n//Tempmin = 94;\n\nvar v1 = Math.random() * (Tempmax - Tempmin) + Tempmin;\n\n\n//var today = new Date();\n//let time = today.toTimeString().split(' ')[0];\n\n//var time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n//var time = today.getSeconds();\n\n\nsensor.temperature = v1;\n//sensor.time = time;\n\nvar topic = \"telemetry/CaseCData/Vis/Hospital/Patient/Vital/Temp\";\n\nmsg.topic = topic;\n//msg.payload =[sensor.temperature, sensor.time];\n//msg.payload = [sensor];\nmsg.payload = sensor;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":160,"wires":[["4fcbcfad.544a5","ef4aca08.e26158","3bc4ad95.ca1902"]]},{"id":"3bc4ad95.ca1902","type":"ui_gauge","z":"aa8e1000.ec6c3","name":"","group":"8a5dfa6b.024cc8","order":3,"width":0,"height":0,"gtype":"gage","title":"Body Temperature","label":"Degrees","format":"{{msg.payload.temperature}}","min":"30","max":"40","colors":["#b31200","#45e600","#ca3838"],"seg1":"37","seg2":"38","x":1110,"y":280,"wires":[]},{"id":"14aa2127.541baf","type":"inject","z":"aa8e1000.ec6c3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":440,"wires":[["fc2b91fe.1e3a5"]]},{"id":"85b15356.39df5","type":"debug","z":"aa8e1000.ec6c3","name":"Raw msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":360,"wires":[]},{"id":"c774e349.ba356","type":"ui_gauge","z":"aa8e1000.ec6c3","name":"","group":"8a5dfa6b.024cc8","order":3,"width":0,"height":0,"gtype":"gage","title":"Heart Rate","label":"Beats/min","format":"{{msg.payload.HeartRate}}","min":"40","max":"150","colors":["#b30c00","#3de600","#ca3838"],"seg1":"60","seg2":"100","x":1120,"y":580,"wires":[]},{"id":"a5ef732.297f19","type":"mqtt out","z":"aa8e1000.ec6c3","name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":1120,"y":480,"wires":[]},{"id":"6e2c7a8d.386124","type":"comment","z":"aa8e1000.ec6c3","name":"Heart Rate","info":"","x":100,"y":440,"wires":[]},{"id":"fc2b91fe.1e3a5","type":"function","z":"aa8e1000.ec6c3","name":"telemetry/CaseCData/Vis/Hospital/Patient/Vital/HeartRate","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\nmax = 90;\nmin = 70;\nvar v1 = Math.round(Math.random() * (max - min) + min);\n\nsensor.HeartRate = v1;\n\nvar topic = \"telemetry/CaseCData/Vis/Hospital/Patient/Vital/HeartRate\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":440,"wires":[["85b15356.39df5","c774e349.ba356","a5ef732.297f19"]]},{"id":"748477cd.932688","type":"inject","z":"aa8e1000.ec6c3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":760,"wires":[["b0bf3a44.494b58"]]},{"id":"4fe4958f.468b4c","type":"debug","z":"aa8e1000.ec6c3","name":"Raw msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":680,"wires":[]},{"id":"219dc626.90714a","type":"mqtt out","z":"aa8e1000.ec6c3","name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":1120,"y":800,"wires":[]},{"id":"b0dfb1a1.b90d6","type":"comment","z":"aa8e1000.ec6c3","name":"Oxygen Rate","info":"","x":110,"y":760,"wires":[]},{"id":"b0bf3a44.494b58","type":"function","z":"aa8e1000.ec6c3","name":"telemetry/CaseCData/Vis/Hospital/Patient/Vital/OxygenRate","func":"var sensor = {};\n\nvar max = 0;\nvar min = 0;\nmax = 99;\nmin = 93;\nvar v1 = Math.round(Math.random() * (max - min) + min);\n\nsensor.OxygenRate = v1;\n\nvar topic = \"telemetry/CaseCData/Vis/Hospital/Patient/Vital/OxygenRate\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":760,"wires":[["4fe4958f.468b4c","219dc626.90714a","65bb60cc.521b"]]},{"id":"65bb60cc.521b","type":"ui_gauge","z":"aa8e1000.ec6c3","name":"","group":"8a5dfa6b.024cc8","order":3,"width":0,"height":0,"gtype":"gage","title":"Oxygen Rate","label":"percent","format":"{{msg.payload.OxygenRate}}","min":"80","max":"100","colors":["#b31b00","#f2eb07","#43cb3a"],"seg1":"88","seg2":"93","x":1110,"y":880,"wires":[]},{"id":"88e0b6bc.402c98","type":"inject","z":"aa8e1000.ec6c3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":1100,"wires":[["a49fc5a8.9e6938"]]},{"id":"c5236451.2c65e8","type":"debug","z":"aa8e1000.ec6c3","name":"Raw msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":1020,"wires":[]},{"id":"af46fae2.17a738","type":"mqtt out","z":"aa8e1000.ec6c3","name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":1070,"y":1100,"wires":[]},{"id":"7c2711c0.757db","type":"comment","z":"aa8e1000.ec6c3","name":"Blood Pressure","info":"","x":100,"y":1040,"wires":[]},{"id":"a49fc5a8.9e6938","type":"function","z":"aa8e1000.ec6c3","name":"telemetry/CaseCData/Vis/Hospital/Patient/Vital/BloodPressure","func":"var sensor = {};\n\nvar maxSystolic = 0;\nvar minSystolic = 0;\nvar maxDiastolic = 0;\nvar minDiastolic = 0;\n\nmaxSystolic = 115;\nminSystolic = 90;\nmaxDiastolic = 75;\nminDiastolic = 60;\n\nvar v1 = Math.round(Math.random() * (maxSystolic - minSystolic) + minSystolic);\nvar v2 = Math.round(Math.random() * (maxDiastolic - minDiastolic) + minDiastolic);\n\nsensor.SystolicBloodPressure = v1;\nsensor.DiastolicBloodPressure = v2;\n\n\nvar topic = \"telemetry/CaseCData/Vis/Hospital/Patient/Vital/BloodPressure\";\n\nmsg.topic = topic;\nmsg.payload = [sensor.SystolicBloodPressure, sensor.DiastolicBloodPressure];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":1100,"wires":[["c5236451.2c65e8","af46fae2.17a738","98c00e81.58adb","5a00eecd.6476e"]]},{"id":"98c00e81.58adb","type":"ui_gauge","z":"aa8e1000.ec6c3","name":"","group":"8a5dfa6b.024cc8","order":3,"width":0,"height":0,"gtype":"gage","title":"Systolic Blood Pressure","label":"mmHg","format":"{{msg.payload[0]}}","min":"110","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"120","seg2":"170","x":1250,"y":1180,"wires":[]},{"id":"5a00eecd.6476e","type":"ui_gauge","z":"aa8e1000.ec6c3","name":"","group":"8a5dfa6b.024cc8","order":6,"width":0,"height":0,"gtype":"gage","title":"Diastolic Blood Pressure","label":"mmHg","format":"{{msg.payload[1]}}","min":"50","max":"150","colors":["#50b300","#e6e600","#ea1010"],"seg1":"80","seg2":"110","x":1270,"y":1280,"wires":[]},{"id":"ee07d63a.146c48","type":"mqtt in","z":"aa8e1000.ec6c3","name":"","topic":"telemetry/CaseCData/#","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":280,"y":1360,"wires":[["a2577734.1e84d8"]]},{"id":"a2577734.1e84d8","type":"function","z":"aa8e1000.ec6c3","name":"","func":"try {\nvar flatten = global.get(\"flatten\");\n\nvar topic = msg.topic;\nvar retain = msg.retain;\nvar data = JSON.parse(msg.payload);\n\nvar data = flatten(data);\n\ntags = topic.split('/');\nvar Hospital = tags[0]+\"/\"+tags[1]+\"/\"+tags[2] + \"/\" + tags[3];\nvar Patient =  Hospital + \"/\" + tags[4];\nvar Vital = Patient + \"/\" + tags[5]\n\nvar valueName = Vital;\nif(tags.length >= 7) {\n valueName = Vital + \"/\" + tags[6]\n}\n\ntags.push(Hospital);\ntags.push(Patient);\ntags.push(Vital);\ntags.push(valueName);\n\nmsg.payload = [data, tags];\nmsg.measurement = Patient;\nreturn msg;\n\n} catch(err) {\n    return null;\n}\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1360,"wires":[["8429bf91.6e477","f3d115ab.6bcb08"]]},{"id":"8429bf91.6e477","type":"influxdb out","z":"aa8e1000.ec6c3","influxdb":"fddc60d3.519f5","name":"","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":990,"y":1360,"wires":[]},{"id":"f3d115ab.6bcb08","type":"debug","z":"aa8e1000.ec6c3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":1440,"wires":[]},{"id":"a24749a1.902308","type":"function","z":"b4a1401b.0113a","name":"delay","func":"RT.Web.SetTiimeout(500, function(){\n    var m = msg;\n    node.send([m]);\n});\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":720,"wires":[["a71e3a2c.e59d88"]]},{"id":"a71e3a2c.e59d88","type":"function","z":"b4a1401b.0113a","name":"load RT  Body Temp","func":"CNR_InitFromId('987ba47f.a2cb48');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":720,"wires":[[]]},{"id":"6eb19a8.c1bc164","type":"rtds-create","z":"987ba47f.a2cb48","rtdsName":"Barvalues Temp","dimensionSize":"7","clientFunction":"RRJSIATK_RTDSCreate","x":290,"y":300,"wires":[["e7381904.26dad8"]]},{"id":"264e038e.f29b8c","type":"rtds-set-insert-behavior","z":"987ba47f.a2cb48","shiftdata":"1","clientFunction":"RRJSIATK_RTDSSetShiftdata","x":950,"y":300,"wires":[["2c78efd6.4bc7b"]]},{"id":"d28871e4.886eb","type":"view-builder","z":"987ba47f.a2cb48","viewName":"","pointCount":"","meshTopology":5,"geometryType":"6","clientFunction":"RRJSIATK_ViewBuilder","x":450,"y":400,"wires":[["e52e0623.eaee28"]]},{"id":"e52e0623.eaee28","type":"set-view-data","z":"987ba47f.a2cb48","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":610,"y":400,"wires":[["b774f2d7.4c1c4"]]},{"id":"39db521d.c0a10e","type":"function","z":"987ba47f.a2cb48","name":"view setup","func":"msg.viewBuilder = {};\nmsg.viewBuilder.viewName = \"Bar_values_Temp\";\nmsg.viewBuilder.pointCount = 7;\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.data = [];\nlet xData = [];\nlet yData = [];\nlet zData = [];\nlet colors = [];\nfor(let i = 0; i < msg.viewBuilder.pointCount; i++) {\n    xData.push(1 / (msg.viewBuilder.pointCount - 1) * i);\n    yData.push(0);\n    zData.push(0);\n    colors.push([240/255,  228/255, 66/255]);\n}\nmsg.view.data[CNRIF.ViewData.XPosition] = xData;\nmsg.view.data[CNRIF.ViewData.YPosition] = yData;\nmsg.view.data[CNRIF.ViewData.ZPosition] = zData;\nmsg.view.data[CNRIF.ViewData.Color] = colors;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":400,"wires":[["d28871e4.886eb"]]},{"id":"b774f2d7.4c1c4","type":"view-add-axes","z":"987ba47f.a2cb48","axes":"x,y","clientFunction":"RRJSIATK_ViewAddAxes","x":780,"y":400,"wires":[["1732e334.22d61d"]]},{"id":"1732e334.22d61d","type":"view-set-axis-data","z":"987ba47f.a2cb48","dataSource":"Barvalues Temp","dimension":"Temperature (°C)","axes":"y","clientFunction":"RRJSIATK_ViewSetAxisData","x":970,"y":400,"wires":[["27b0a110.c610ee"]]},{"id":"27b0a110.c610ee","type":"view-set-axis-data","z":"987ba47f.a2cb48","dataSource":"Barvalues Temp","dimension":"Weekday","axes":"x","clientFunction":"RRJSIATK_ViewSetAxisData","x":1170,"y":400,"wires":[["a372e360.aac4b"]]},{"id":"bf46371f.c99498","type":"rtds-add-dimension-discrete","z":"987ba47f.a2cb48","dimensionName":"Weekday","clientFunction":"RRJSIATK_RTDSAddDimensionDiscrete","x":700,"y":300,"wires":[["264e038e.f29b8c"]]},{"id":"83070038.60ade","type":"inject","z":"987ba47f.a2cb48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":500,"wires":[["3325f78b.25eff8"]]},{"id":"20b5743a.c804ac","type":"rtds-get-data","z":"987ba47f.a2cb48","dimensionName":"Temperature (°C)","location":"rtdsData","clientFunction":"RRJSIATK_RTDSGetData","x":470,"y":580,"wires":[["3a7a7a3e.f80da6"]]},{"id":"58573bf8.71e514","type":"rtds-set-data","z":"987ba47f.a2cb48","dimensionName":"Temperature (°C)","context":"0","location":"payload.Temp","clientFunction":"RRJSIATK_RTDSSetData","x":1110,"y":700,"wires":[[]]},{"id":"ae5e3dad.ca3dc","type":"set-view-data","z":"987ba47f.a2cb48","viewData":"5","clientFunction":"RRJSIATK_SetViewData","x":840,"y":580,"wires":[["1db1c4e1.a2f1cb"]]},{"id":"3325f78b.25eff8","type":"rtds-get","z":"987ba47f.a2cb48","rtdsName":"Barvalues Temp","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":280,"y":500,"wires":[["1646db17.647825","c9186dca.809d7"]]},{"id":"1646db17.647825","type":"get-view","z":"987ba47f.a2cb48","viewName":"Bar_values_Temp","msgBehavior":"1","clientFunction":"RRJSIATK_GetView","x":280,"y":580,"wires":[["20b5743a.c804ac"]]},{"id":"3a7a7a3e.f80da6","type":"function","z":"987ba47f.a2cb48","name":"","func":"if(msg.hasOwnProperty(\"view\"))\n{\n    var ar = [];\n    \n    for(var i1 = 0; i1 <  msg.rtdsData.length; i1++){ ar.push(msg.rtdsData[i1]);}\n    \n    msg.view.data = [];\n    msg.view.data[CNRIF.ViewData.YPosition] = ar;\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":580,"wires":[["ae5e3dad.ca3dc"]]},{"id":"c9186dca.809d7","type":"rtds-get-data","z":"987ba47f.a2cb48","dimensionName":"Weekday","location":"weekdays","clientFunction":"RRJSIATK_RTDSGetData","x":550,"y":500,"wires":[["876de0e8.97af5"]]},{"id":"876de0e8.97af5","type":"function","z":"987ba47f.a2cb48","name":"","func":"msg.weekday = msg.weekdays[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":500,"wires":[["41a94c20.7822f4"]]},{"id":"41a94c20.7822f4","type":"rtds-set-data","z":"987ba47f.a2cb48","dimensionName":"Weekday","context":"1","location":"weekday","clientFunction":"RRJSIATK_RTDSSetData","x":1010,"y":500,"wires":[[]]},{"id":"2c78efd6.4bc7b","type":"function","z":"987ba47f.a2cb48","name":"Fill RTDS","func":"CNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Monday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Tuesday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Wednesday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Thursday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Friday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Saturday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Sunday\", 1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":300,"wires":[[]]},{"id":"1db1c4e1.a2f1cb","type":"view-update-axis","z":"987ba47f.a2cb48","axes":"x","clientFunction":"RRJSIATK_ViewUpdateAxis","x":1070,"y":580,"wires":[[]]},{"id":"91cfcf40.7c295","type":"inject","z":"987ba47f.a2cb48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":300,"wires":[["6eb19a8.c1bc164","39db521d.c0a10e"]]},{"id":"7976b7ea.987de8","type":"function","z":"987ba47f.a2cb48","name":"client filter","func":"try {\n    var n = MAIN.usercanvas;\n    return msg;\n} catch(err) {\n    return null;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":700,"wires":[["66eb12fb.ac997c"]]},{"id":"9965e6e4.206e28","type":"function","z":"987ba47f.a2cb48","name":"parse","func":"var data = JSON.parse(msg.payload);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":700,"wires":[["7976b7ea.987de8"]]},{"id":"fc5ac438.976f68","type":"mqtt in","z":"987ba47f.a2cb48","name":"","topic":"telemetry/Bardata/Vis/Hospital/Patient/Vital/Temp","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":180,"y":700,"wires":[["9965e6e4.206e28"]]},{"id":"e7381904.26dad8","type":"rtds-add-dimension","z":"987ba47f.a2cb48","dimensionName":"Temperature (°C)","minValue":"30","maxValue":"40","dataType":1,"clientFunction":"RRJSIATK_RTDSAddDimension","x":470,"y":300,"wires":[["bf46371f.c99498"]]},{"id":"66eb12fb.ac997c","type":"rtds-get","z":"987ba47f.a2cb48","rtdsName":"Barvalues Temp","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":880,"y":700,"wires":[["58573bf8.71e514"]]},{"id":"a372e360.aac4b","type":"function","z":"987ba47f.a2cb48","name":"allow manipulation","func":"var hT = null;\nvar hR = null;\nvar hS = null;\n\nvar chartGo = MAIN.UE.GameObject.Find(\"VIEW_Bar_values_Temp\");\nvar parent = MAIN.UE.GameObject.Find(\"ParentCube\");\nvar bc =MAIN.RR.Runtime.AddBoxCollider(chartGo);\nbc.size = new MAIN.UE.Vector3(0.3, 0.3, 0.3);\n\nhT = MAIN.camHookGo.transform.position;\nhR = MAIN.camHookGo.transform.rotation;\nhS = [1, 1, 1];\n\n\nif(chartGo !=null){\n    RT.Unity.SetParent(chartGo, parent);\n    //var T = [-0.3, 0.5, 3];\n    //var R = [0, 0, 0, 0];\n    //var S = [6, 6, 6];\n    \n    var T = [-0.4, -0.4, 3.5];\n    var R = [0, 0, 0, 0];\n    var S = [7, 7, 7];\n    \n    /*var T = [-0.6, 0.2, 3];\n    var R = [0, 0, 0, 0];\n    var S = [0.05, 0.05, 0.05];*/\n    \n    RT.Unity.SetPose(chartGo, T, R, S);\n    \n    MAIN_CreateLabel(\"Weekly Body Temperature\", [0.5,1,0], [0,0,0,1], [0.001,0.001,0.001], chartGo, \"Weekly Body Temperature\");\n    chartGo.GetComponent(importNamespace(\"Microsoft.MixedReality.Toolkit.Utilities.Solvers\").RadialView).enabled = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":400,"wires":[[]]}]